<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        }
    </style>
</head>

<body>
    Шановний(а) {{ first_name }}.<br>

    <br>Не надіслані наступні проекти, в яких Ви відповідальна особа:
    <table>
        <thead>
            <tr>
                {% for label in labels_task %}
                    <th scope="col">{{ label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for fields in tasks %}
            <tr>
                {% for field in fields %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
