django>=2.2.4
django-admin-list-filter-dropdown
django-appconf
django-crum
django-js-asset
django-jsonfield
django-mptt
django-mptt-admin
django-select2
django-stdimage
django-widget-tweaks
#mod-wsgi
mysqlclient
numpy
#packaging==19.0
pandas
Pillow
progressbar2
pyparsing
python-dateutil
python-utils
pytz
six
django-fontawesome-5
django-debug-toolbar