amqp
billiard
celery
Django
django-admin-list-filter-dropdown
django-appconf
django-crum
django-debug-toolbar
django-fontawesome-5
django-js-asset
django-jsonfield
django-mptt
django-mptt-admin
django-select2
django-stdimage
django-timezone-field
django-widget-tweaks
importlib-metadata
kombu
#mod-wsgi==4.6.7
more-itertools
mysqlclient
numpy
pandas
Pillow
progressbar2
pyparsing
python-crontab
python-dateutil
python-utils
pytz
redis
six
sqlparse
vine
zipp
