wheel
Django == 2.2.24
django-admin-list-filter-dropdown
django-crum
django-fontawesome-5
django-jsonfield
django-mptt
django-mptt-admin
django-select2
django-stdimage
django-widget-tweaks
mysqlclient
pandas
Pillow
redis
celery
django-object-actions

# Debuging tools
django-silk         # https://github.com/jazzband/django-silk
sentry-sdk          # https://docs.sentry.io/platforms/python/
