<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        }
    </style>
</head>

<body>
    Шановна(ий) {{ first_name }}.<br>
    Є погоджені рахунки в яких найближчим часом наступає кінцевий термін оплати:<br>
    {% if orders %}
        <table>
            <thead>
                <tr>
                    {% for label in labels %}
                        <th scope="col">{{ label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for fields in orders %}
                <tr>
                    {% for field in fields %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</body>
</html>
