{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}
{% load fontawesome_5 %}

{% block context %}

<div id="content">
    <div id="container_acts_income" style="width: 50%; float: left;"></div>
    <div id="container_work_done" style="width: 50%; float: left;"></div>
    <div id="container_payments_income" style="width: 50%; float: left;"></div>
    <div id="container_receivables" style="width: 50%; float: left;"></div>
    <div id="container_stock" style="width: 50%; float: left;"></div>
    <div id="container_turnover_closed" style="width: 25%; float: left;"></div>
    <div id="container_turnover" style="width: 25%; float: left;"></div>
</div>

{% endblock %}

{% block extrahead %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script type="text/javascript">

    $(function () {
        var chart;
        $(document).ready(function() {

            var container_acts_income = new Highcharts.Chart({
                chart: {
                        renderTo: 'container_acts_income',
                },
                title: {
                    text: "Дохід по актам"
                },
                xAxis: {
                    categories: {{ xAxis|safe }},
                    crosshair: true
                },
                yAxis: {
                    title: {
                        useHTML: true,
                        text: "{{ chart.yAxis }}"
                    }
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                    }
                },
                series: {{ acts_data|safe }}
            });

            var container_work_done = new Highcharts.Chart({
                chart: {
                        renderTo: 'container_work_done',
                },
                title: {
                    text: "Виконано робіт"
                },
                xAxis: {
                    categories: {{ xAxis|safe }},
                    crosshair: true
                },
                yAxis: {
                    title: {
                        useHTML: true,
                        text: "{{ chart.yAxis }}"
                    }
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                    }
                },
                series: {{ work_done_data|safe }}
            });

            var container_payments_income = new Highcharts.Chart({
                chart: {
                        renderTo: 'container_payments_income',
                },
                title: {
                    text: "Оплачено"
                },
                xAxis: {
                    categories: {{ xAxis|safe }},
                    crosshair: true
                },
                yAxis: {
                    title: {
                        useHTML: true,
                        text: "{{ chart.yAxis }}"
                    }
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                    }
                },
                series: {{ payments_data|safe }}
            });

            var container_receivables = new Highcharts.Chart({
                chart: {
                        renderTo: 'container_receivables',
                },
                title: {
                    text: "Дебіторська заборгованість"
                },
                xAxis: {
                    categories: {{ xAxis|safe }},
                    crosshair: true
                },
                yAxis: {
                    title: {
                        useHTML: true,
                        text: "{{ chart.yAxis }}"
                    }
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                    }
                },
                series: {{ receivables_data|safe }}
            });

            var container_stock = new Highcharts.Chart({
                chart: {
                        renderTo: 'container_stock',
                },
                title: {
                    text: "Рівень запасів"
                },
                xAxis: {
                    categories: {{ xAxis|safe }},
                    crosshair: true
                },
                yAxis: {
                    title: {
                        useHTML: true,
                        text: "{{ chart.yAxis }}"
                    }
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                    }
                },
                series: {{ stock_data|safe }}
            });

            var container_turnover_closed = new Highcharts.Chart({
                chart: {
                        renderTo: 'container_turnover_closed',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                },
                title: {
                    text: "Об'єми закритих робіт"
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'Частка',
                    colorByPoint: true,
                    data: {{ turnover_closed_data|safe }}
                }]
            });

            var container_turnover = new Highcharts.Chart({
                chart: {
                        renderTo: 'container_turnover',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                },
                title: {
                    text: "Об'єми виконаних робіт"
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'Частка',
                    colorByPoint: true,
                    data: {{ turnover_data|safe }}
                }]
            });
        });
    });

</script>

{% endblock %}
