{% extends 'base.html' %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}
{% load static %}

{% block global_meta %}
    <title>Ітел-Сервіс | Звіти</title>
{% endblock %}

{% block context %}
<div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
    <form id="ReportForm" action="render/" method="get">
        <div class="breadcrumbs">
            <div class="container-fluid">
                <h2>Оберіть звіт, компанію та період</h2><br>
                <div class="row">
                    <div class="col-2">{{ form.report.label }}:</div>
                    <div class="col-3">{{ form.report|attr:"style: padding-left: 8px;"|add_class:"form-control" }}</div>
                </div><br>
                <div class="row">
                    <div class="col-2">{{ form.company.label }}:</div>
                    <div class="col-3">{{ form.company|attr:"style: padding-left: 8px;"|add_class:"form-control" }}</div>
                </div><br>
                <div class="row">
                    <div class="col-2">{{ form.customer.label }}:</div>
                    <div class="col-3">{{ form.customer|attr:"style: padding-left: 8px;"|add_class:"form-control" }}</div>
                </div><br>
                <div class="row">
                    <div class="col-2">{{ form.from_date.label }}:</div>
                    <div class="col-3">{{ form.from_date|attr:"style: height: 28px; width:100%; display: inline-block; padding-left: 8px;"|add_class:"form-control" }}</div>
                </div><br>
                <div class="row">
                    <div class="col-2">{{ form.to_date.label }}:</div>
                    <div class="col-3">{{ form.to_date|attr:"style: height: 28px; width:100%; display: inline-block; padding-left: 8px;"|add_class:"form-control" }}</div>
                </div>
                <button type="submit" name="generate_pdf" value="True"
                    class="btn dark btn-sm btn-outline sbold uppercase"
                    style="float: right;">Сформувати PDF
                </button>
                <button type="submit"
                    class="btn dark btn-sm btn-outline sbold uppercase mr-2"
                    style="float: right;">Сформувати звіт
                </button>
            </div>
        </div>
    </form>
</div>
<!-- END CONTAINER -->
{% endblock %}
