<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        }
    </style>
</head>

<body>
    {% if deal_list %}
        Угоди які чекають закриття акту для компанії {{ company }} по замовнику {{ customer }}:<br><br>
            <table>
                <thead>
                    <tr>
                        {% for label in labels %}
                            <th scope="col">{{ label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for deal in deal_list %}
                    <tr>
                        {% for field in deal %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <br>
        Всього сума угод які чекають закриття акту {{ svalue }} грн.
    {% else %}
        По {{ customer }} відсутні акти які чекають закриття.
    {% endif %}

</body>
</html>
