{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>ITEL Service | Вхід</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="2018 © Itel-Service" name="description" />
        <meta content="Victor Borovyk" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <!-- <link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" /> -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{% static 'assets/pages/css/login-2.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="index.html">
                <img src="{% static 'assets/global/img/logo-login.png' %}" alt="" /> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form" action="{% url 'login_page' %}" method="post">
                {% csrf_token %}
                <div class="form-title">
                    <span class="form-title">Вітання!</span>
                    <span class="form-subtitle">Використайте ваші дані для входу.</span>
                </div>
                {% if not_valid_user %}
                <div class="alert alert-danger">
                    <span> Невірний пароль </span>
                </div>
                {% endif %}
                {% if not_valid %}
                <div class="alert alert-danger">
                    <span> Невірні дані для входу </span>
                </div>
                {% endif %}
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Ім'я</label>
{#                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />#}
                    {{ form.username|attr:"class:form-control form-control-solid placeholder-no-fix" }}
{#                    {% render_field form.email placeholder=form.email.label class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"%}#}
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Пароль</label>
{#                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />#}
                    {{ form.password|attr:"class:form-control form-control-solid placeholder-no-fix"|attr:"type:password" }}
{#                    {% render_field form.password placeholder=form.password.label class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"%}#}
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn red btn-block uppercase">Увійти</button>
                </div>
                <div class="form-actions">
                    <div class="pull-left">
                        <label class="rememberme check">
                            <input type="checkbox" name="remember" value="1" />Запам'ятати мене</label>
                    </div>
                    <div class="pull-right forget-password-block">
{#                        <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>#}
                    </div>
                </div>
            </form>
            <!-- END LOGIN FORM -->
        </div>
        <div class="copyright hide"> 2017 © Itel-Service. Admin Dashboard. </div>
        <!-- END LOGIN -->
        <!--[if lt IE 9]>
        <script src="{% static 'assets/global/plugins/respond.min.js' %}"></script>
        <script src="{% static 'assets/global/plugins/excanvas.min.js' %}"></script>
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
{#        <script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>#}
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
{#        <script src="{% static 'assets/pages/scripts/login.min.js' %}" type="text/javascript"></script>#}
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
</body>


</html>