{% extends 'main.html' %}
{% block 'row1' %}
{% load ita_template_tags %}
        <!-- BEGIN CONTAINER -->
                <div class="row widget-row">
                    <div class="col-md-6 margin-bottom-20">
                        <!-- BEGIN WIDGET TAB -->
                        <div class="widget-bg-color-white widget-tab">
                            <span style="color: #8e9daa;" class="center-block text-center caption-subject theme-font bold uppercase pt-3"> Проекти </span>

                            <ul class="nav nav-pills mb-3 nav-tabs" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-tab_1_1-tab" data-toggle="pill" href="#tab_1_1"
                                        role="tab" aria-controls="pills-tab_1_1" aria-selected="true"> В черзі </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-tab_1_2-tab" data-toggle="pill" href="#tab_1_2"
                                        role="tab" aria-controls="pills-tab_1_2" aria-selected="false"> Виконуються </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-tab_1_3-tab" data-toggle="pill" href="#tab_1_3"
                                        role="tab" aria-controls="pills-tab_1_3" aria-selected="false"> Виконано </a>
                                </li>
                            </ul>
                            <div style="height: 300px" class="tab-content scroller" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="tab_1_1" role="tabpanel"
                                    aria-labelledby="pills-tab_1_1">
                                    {% for task in td_tasks %}
                                    <div class="widget-news margin-bottom-20">
                                        <div class="widget-news-right-body">
                                            <h3 class="widget-news-right-body-title">
                                                <a href="{% url 'task_detail' task.pk %}">{{ task.object_code }} {{ task.object_address|slice:":75" }}</a>
                                                <span class="label label-{% task_overdue_color task.overdue_status %}"> {{ task.overdue_status }} </span>
                                            </h3>
                                            {{ task.project_type }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    </div>
                                <div class="tab-pane fade" id="tab_1_2" role="tabpanel"
                                    aria-labelledby="pills-tab_1_2">
                                    {% for task in ip_tasks %}
                                    <div class="widget-news margin-bottom-20">
{#                                        <img class="widget-news-left-elem" src="../assets/layouts/layout7/img/03.jpg" alt="">#}
                                        <div class="widget-news-right-body">
                                            <h3 class="widget-news-right-body-title">
                                                <a href="{% url 'task_detail' task.pk %}">{{ task.object_code }} {{ task.object_address|slice:":75" }}</a>
                                                <span class="label label-{% task_overdue_color task.overdue_status %}"> {{ task.overdue_status }} </span>
                                            </h3>
                                            {{ task.project_type }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    </div>
                                <div class="tab-pane fade" id="tab_1_3" role="tabpanel"
                                    aria-labelledby="pills-tab_1_3">
                                    {% for task in hd_tasks %}
                                    <div class="widget-news margin-bottom-20">
{#                                        <img class="widget-news-left-elem" src="../assets/layouts/layout7/img/03.jpg" alt="">#}
                                        <div class="widget-news-right-body">
                                            <h3 class="widget-news-right-body-title">
                                                <a href="{% url 'task_detail' task.pk %}">{{ task.object_code }} {{ task.object_address|slice:":75" }}</a>
                                                <span class="label label-{% task_overdue_color task.overdue_status %}"> {{ task.overdue_status }} </span>
                                            </h3>
                                            {{ task.project_type }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                        <!-- END WIDGET TAB -->
                    <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-20">
                        <!-- BEGIN WIDGET TAB -->
                        <div class="widget-bg-color-white widget-tab">
                            <span style="color: #8e9daa;" class="center-block text-center caption-subject theme-font bold uppercase pt-3"> Завдання </span>

                            {% if inttasks %}
                            <div class="tab-content scroller" style="height: 380px;" data-always-visible="1" data-handle-color="#D7DCE2">
                                    {% for inttask in inttasks %}
                                    <div class="widget-news margin-bottom-20">
{#                                        <img class="widget-news-left-elem" src="../assets/layouts/layout7/img/03.jpg" alt="">#}
                                        <div class="widget-news-right-body">
                                            <h3 class="widget-news-right-body-title">
                                                <a href="{% url 'inttask_detail' inttask.id %}">{{ inttask.task_name }}</a>
                                                <span class="label label-success"> {{ inttask.get_exec_status_display }} </span>
                                            </h3>
                                        </div>
                                    </div>
                                    {% endfor %}
                            </div>
                                {% else %}
                                <div class="noTasks tab-content scroller" style="height: 410px;" data-always-visible="1" data-handle-color="#D7DCE2">
                                    <p>На жаль у вас не має завдань</p>
                                    </div>
                            {% endif %}
                        </div>
                        <!-- END WIDGET TAB -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-20">
                        <!-- BEGIN WIDGET PROGRESS -->
                        <div class="widget-progress">
                            <div class="widget-progress-element widget-bg-color-blue margin-bottom-25">
                                <span class="widget-progress-title">Виконано проектів
                                    <span class="pull-right">{{ hd_tasks_count }}/{{ active_tasks_count }}</span>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar bg-light" role="progressbar" style="width: {{ tasks_div }}%;"> </div>
                                </div>
                            </div>
                            <div class="widget-progress-element widget-bg-color-red margin-bottom-25">
                                <span class="widget-progress-title">Протерміновано проектів
                                    <span class="pull-right">{{ overdue_tasks_count }}/{{ active_tasks_count }}</span>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar bg-light" role="progressbar" style="width: {{ overdue_tasks_div }}%;"> </div>
                                </div>
                            </div>
                            <div class="widget-progress-element widget-bg-color-green  margin-bottom-25">
                                <span class="widget-progress-title">Продуктивність
                                    <span class="pull-right">{{ owner_productivity }}%</span>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar bg-light" role="progressbar" style="width: {{ owner_productivity }}%;"> </div>
                                </div>
                            </div>
                            <div class="widget-progress-element widget-bg-color-purple">
                                <span class="widget-progress-title">Протерміновано завдань
                                    <span class="pull-right">{{ overdue_inttasks_count }}/{{ active_inttasks_count }}</span>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar bg-light" role="progressbar" style="width: {{ overdue_inttasks_div }}%;"> </div>
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET PROGRESS -->
                    </div>
                </div>
        <!-- END CONTAINER -->
{% endblock %}