{% extends 'main.html' %}
{% block 'row1' %}
{% load ita_template_tags %}
{% load static %}
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css"/>
<!-- BEGIN CONTAINER -->
    <div class="col-md-6 margin-bottom-20">
        <!-- BEGIN WIDGET TAB -->
        <div class="widget-bg-color-white widget-tab main-widget-tab">
            <h6 class="task-header center-block text-center">Проекти</h6>
            <ul class="nav nav-pills nav-tabs pt-2" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab_1_1-tab" data-toggle="pill" href="#tab_1_1" role="tab"
                        aria-controls="pills-tab_1_1" aria-selected="true"> В черзі </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="pills-tab_1_2-tab" data-toggle="pill" href="#tab_1_2" role="tab"
                        aria-controls="pills-tab_1_2" aria-selected="false"> Виконуються </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab_1_3-tab" data-toggle="pill" href="#tab_1_3" role="tab"
                        aria-controls="pills-tab_1_3" aria-selected="false"> Виконано </a>
                </li>
            </ul>
            <div style="height: 380px;" class="tab-content scroller pt-1" id="pills-tabContent">
                <div class="tab-pane fade" id="tab_1_1" role="tabpanel" aria-labelledby="pills-tab_1_1">
                    {% for task in td_tasks %}
                    <div class="widget-news margin-bottom-20">
                        <div class="widget-news-right-body">
                            <h3 class="widget-news-right-body-title">
                                <a href="{% url 'task_detail' task.pk %}">{{ task.object_code }}
                                    {{ task.object_address|slice:":75" }}</a>
                                <span
                                    class="badge badge-pill badge-{% task_overdue_color task.overdue_status %} float-right">
                                    {{ task.overdue_status }} </span>
                            </h3>
                            {{ task.project_type }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade show active" id="tab_1_2" role="tabpanel" aria-labelledby="pills-tab_1_2">
                    {% for task in ip_tasks %}
                    <div class="widget-news margin-bottom-10">
                        <div class="widget-news-right-body">
                            <h3 class="widget-news-right-body-title">
                                <a href="{% url 'task_detail' task.pk %}">{{ task.object_code }}
                                    {{ task.object_address|slice:":75" }}</a>
                                <span
                                    class="badge badge-pill badge-{% task_overdue_color task.overdue_status %} float-right">
                                    {{ task.overdue_status }} </span>
                            </h3>
                            {{ task.project_type }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="tab_1_3" role="tabpanel" aria-labelledby="pills-tab_1_3">
                    {% for task in hd_tasks %}
                    <div class="widget-news margin-bottom-20">
                        <div class="widget-news-right-body">
                            <h3 class="widget-news-right-body-title">
                                <a href="{% url 'task_detail' task.pk %}">{{ task.object_code }}
                                    {{ task.object_address|slice:":75" }}</a>
                                <span
                                    class="badge badge-pill badge-{% task_overdue_color task.overdue_status %} float-right">
                                    {{ task.overdue_status }} </span>
                            </h3>
                            {{ task.project_type }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- END WIDGET TAB -->
    <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-20">
        <!-- BEGIN WIDGET TAB -->
        <div class="widget-bg-color-white widget-tab main-widget-tab">
        <h6 class="task-header center-block text-center">Завдання</h6>
            {% if inttasks %}
            <div class="tab-content scroller pt-3" style="height: 432px;" data-always-visible="1"
                data-handle-color="#D7DCE2">
                {% for inttask in inttasks %}
                <div class="widget-news mb-3">
                    <div class="widget-news-right-body">
                        <h3 class="widget-news-right-body-title">
                            <a href="{% url 'inttask_detail' inttask.id %}">{{ inttask.task_name }}</a>
                            <span class="badge badge-pill badge-success float-right">
                                {{ inttask.get_exec_status_display }} </span>
                        </h3>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="noTasks tab-content scroller" style="height: 410px;" data-always-visible="1"
                data-handle-color="#D7DCE2">
                <p class="noContent">На жаль у вас не має завдань <i class="far fa-frown"></i></p>
            </div>
            {% endif %}
        </div>
        <!-- END WIDGET TAB -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-20">
        <!-- BEGIN WIDGET PROGRESS -->
        <canvas id="myChart" width="400" height="400"></canvas>
        <!-- END WIDGET PROGRESS -->
    </div>
        <!-- END CONTAINER -->
        <script>
        	window.onload = function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
</script>
{% endblock %}