{% extends 'main.html' %}
{% block 'row1' %}
{% load ita_template_tags %}
        <!-- BEGIN CONTAINER -->
                <div class="row widget-row display-flex">
                    <div class="col-md-6 margin-bottom-20">
                        <!-- BEGIN WIDGET TAB -->
                        <div class="widget-bg-color-white widget-tab">
                            <span class="caption-subject theme-font bold uppercase">Проекти</span>
                            <ul class="nav nav-tabs">
                                <li>
                                    <a href="#tab_1_1" data-toggle="tab"> В черзі </a>
                                </li>
                                <li class="active">
                                    <a href="#tab_1_2" data-toggle="tab"> Виконуються </a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab"> Виконано </a>
                                </li>
                            </ul>
                            <div class="tab-content scroller" style="height: 350px;" data-always-visible="1" data-handle-color="#D7DCE2">
                                <div class="tab-pane fade" id="tab_1_1">
                                    {% for execution in td_executions %}
                                    <div class="widget-news margin-bottom-20">
                                        <div class="widget-news-right-body">
                                            <h3 class="widget-news-right-body-title">
                                                <a href="{% url 'subtask_form' execution.pk %}">{{ execution.task.object_code }} {{ execution.task.object_address|slice:":75" }}</a>
                                                <span class="label label-{% task_overdue_color task.overdue_status %}"> {{ execution.task.overdue_status }} </span>
                                            </h3>
                                            <span class="label label-default">{{ execution.part_name }}</span>
                                            {{ execution.task.project_type }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane fade active in" id="tab_1_2">
                                    {% for execution in ip_executions %}
                                    <div class="widget-news margin-bottom-20">
                                        <div class="widget-news-right-body">
                                            <h3 class="widget-news-right-body-title">
                                                <a href="{% url 'subtask_form' execution.pk %}">{{ execution.task.object_code }} {{ execution.task.object_address|slice:":75" }}</a>
                                                <span class="label label-{% task_overdue_color execution.task.overdue_status %}"> {{ execution.task.overdue_status }} </span>
                                            </h3>
                                            <span class="label label-default">{{ execution.part_name }}</span>
                                            {{ execution.task.project_type }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane fade" id="tab_1_3">
                                    {% for execution in hd_executions %}
                                    <div class="widget-news margin-bottom-20">
                                        <div class="widget-news-right-body">
                                            <h3 class="widget-news-right-body-title">
                                                <a href="{% url 'subtask_form' execution.pk %}">{{ execution.task.object_code }} {{ execution.task.object_address|slice:":75" }}</a>
                                                <span class="label label-{% task_overdue_color execution.task.overdue_status %}"> {{ execution.task.overdue_status }} </span>
                                            </h3>
                                            <span class="label label-default">{{ execution.part_name }}</span>
                                            {{ execution.task.project_type }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET TAB -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <!-- BEGIN WIDGET TAB -->
                        <div class="widget-bg-color-white widget-tab">
                            <span style="color: #8e9daa;" class="center-block text-center caption-subject theme-font bold uppercase pt-3"> Завдання </span>

                            {% if inttasks %}
                            <div class="tab-content scroller" style="height: 410px;" data-always-visible="1" data-handle-color="#D7DCE2">
                                    {% for inttask in inttasks %}
                                    <div class="widget-news margin-bottom-20">
{#                                        <img class="widget-news-left-elem" src="../assets/layouts/layout7/img/03.jpg" alt="">#}
                                        <div class="widget-news-right-body">
                                            <h3 class="widget-news-right-body-title">
                                                <a href="{% url 'inttask_detail' inttask.id %}">{{ inttask.task_name }}</a>
                                                <span class="label label-success"> {{ inttask.get_exec_status_display }} </span>
                                            </h3>
                                        </div>
                                    </div>
                                    {% endfor %}
                            </div>
                                {% else %}
                                <div class="noTasks tab-content scroller" style="height: 410px;" data-always-visible="1" data-handle-color="#D7DCE2">
                                    <p>Нажаль у вас не має завдань</p>
                                    </div>
                            {% endif %}
                        </div>
                        <!-- END WIDGET TAB -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-20">
                        <!-- BEGIN WIDGET PROGRESS -->
                        <div class="widget-progress">
                            <div class="widget-progress-element widget-bg-color-blue margin-bottom-25">
                                <span class="widget-progress-title">Виконано проектів
                                    <span class="pull-right">{{ hd_executions_count }}/{{ active_executions_count }}</span>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar widget-bg-color-white" role="progressbar" style="width: {{ executions_div }}%;"> </div>
                                </div>
                            </div>
                            <div class="widget-progress-element widget-bg-color-red margin-bottom-25">
                                <span class="widget-progress-title">Протерміновано проектів
                                    <span class="pull-right">{{ overdue_executions_count }}/{{ active_executions_count }}</span>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar widget-bg-color-white" role="progressbar" style="width: {{ overdue_executions_div }}%;"> </div>
                                </div>
                            </div>
                            <div class="widget-progress-element widget-bg-color-green  margin-bottom-25">
                                <span class="widget-progress-title">Продуктивність
                                    <span class="pull-right">{{ productivity }}%</span>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar widget-bg-color-white" role="progressbar" style="width: {{ productivity }}%;"> </div>
                                </div>
                            </div>
                            <div class="widget-progress-element widget-bg-color-purple">
                                <span class="widget-progress-title">Протерміновано завдань
                                    <span class="pull-right">{{ overdue_inttasks_count }}/{{ active_inttasks_count }}</span>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar widget-bg-color-white" role="progressbar" style="width: {{ overdue_inttasks_div }}%;"> </div>
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET PROGRESS -->
                    </div>
                </div>
        <!-- END CONTAINER -->
{% endblock %}