{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}
{% load fontawesome_5 %}

{% block global_meta %}
    <title>Ітел-Сервіс | Головна</title>
{% endblock %}

{% block context %}
{% now "m" as current_month %}
{% now "Y" as current_year %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" type="text/javascript"></script>
<div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
    <!-- BEGIN CONTENT -->
    <div class="container-fluid container-lf-space">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div id="row1" class="mt-3">
            {% block 'row1' %}
            {% endblock %}
        </div>
        <div class="row widget-row">
            <div class="col-md-4">
                <!-- BEGIN PORTLET-->
                <h6 style="margin-top: -8px;" class="task-header center-block text-center"><i style="font-size: 12px;" class="icon-share font-white"></i> Новини та повідомлення</h6>
                    <div class="portlet light pb-4 main-widget-tab">
                    <div class="portlet-body">
                        <div class="scroller" style="height: 340px;" data-always-visible="1" data-rail-visible1="0"
                            data-handle-color="#D7DCE2">
                            {% for new in news %}
                            <div class="widget-media">
                                <div class="widget-media-elements text-center">
                                    <img class="widget-media-avatar circle margin-bottom-15"
                                        src="{{ new.creator.employee.avatar.thumbnail.url }}" alt="">
                                </div>
                                <div class="widget-media-body ">
                                    <h4 class="widget-media-body-title">
                                        <a href="{% url 'news_detail' new.pk %}">{{ new.title }}</a>
                                    </h4>
                                    <p class="widget-media-body-subtitle">{{ new.text|slice:":500"|linebreaks }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="scroller-footer">
                            <div class="btn-arrow-link pull-right">
                                <a href="{% url 'news_list' %}">Дивитись всі новини</a>
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>

            <div class="col-md-4">
                <h6 style="margin-top: -8px;" class="task-header center-block text-center"><i style="font-size: 12px;" class="icon-bell font-white"></i> Найближчі події та свята</h6>
                <div class="portlet light pb-4 main-widget-tab">
                    <div class="portlet-body">
                        <div class="scroller" style="height: 340px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="feeds">
                                {% for event in events %}
                                <li style="width: 90%;">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fas fa-birthday-cake"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    <a href="{% url 'event_detail' event.pk %}">{{ event.title }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        {% if event.is_today %}
                                        <div class="badge badge-pill badge-warning"> {{ event.next_date }} </div>
                                        {% else %}
                                        <div class="badge badge-pill badge-success"> {{ event.next_date }} </div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="scroller-footer">
                            <div class="btn-arrow-link pull-right">
                                <a href="{% url 'event_list' %}">Дивитись всі події</a>
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h6 style="margin-top: -8px;" class="task-header center-block text-center"><i style="font-size: 12px;" class="icon-clock font-white"></i> Недавні дії</h6>
                <div class="portlet light pb-4 main-widget-tab">
                    <div class="portlet-body">
                        <div class="scroller" style="height: 340px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="feeds">
                                {% for activity in activities %}
                                    <li style="width: 98%;">({{ activity.timestamp }}) - {{ activity.user.employee }} - {{ activity.action }} [{{ activity.extra.title }}]</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
<!-- END CONTENT -->
<!-- END CONTAINER -->

{% endblock %}
