{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <div class="container-fluid">
                <a href="{% url 'event_list' %}">
                    <h2 class="breadcrumbs-title">Найближчі події та свята</h2>
                </a>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row">
                <div class="container">
                    <!-- BEGIN WIDGET -->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md font-red-sunglo">
                                <span class="caption-subject theme-font bold uppercase">{{ event.title }}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height: 350px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <div class="widget-news margin-bottom-20">
                                    {# <img class="widget-news-left-elem" src="../assets/layouts/layout7/img/03.jpg" alt="">#}
                                    <div class="widget-news-right-body">
                                        {% if event.description %}<p>{{ event.description }}</p>{% endif %}
                                        <p><strong>Дата: {{ event.next_repeat }}</strong></p>
                                        <p><strong>Періодичність: {{ event.get_repeat_display }}</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
