{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <div class="container-fluid">
                <a href="{% url 'news_list' %}">
                    <h2 class="breadcrumbs-title">Новини та повідомлення</h2>
                </a>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row">
                <div class="container">
                    <!-- BEGIN WIDGET -->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md font-red-sunglo">
                                <span class="caption-subject theme-font bold uppercase">{{ news.title }}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height: 350px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <div class="widget-news margin-bottom-20">
                                    <div class="widget-news-right-body">
                                        <p>{{ news.text|linebreaks }}</p>
                                        <p><strong>Тип новини: {{ news.get_news_type_display }}</strong></p>
                                        <p><strong>{% if news.actual_from %}Актуальна з {{ news.actual_from }}{% endif %}</strong></p>
                                        <p><strong>{% if news.actual_to %}Актуальна до {{ news.actual_to }}{% endif %}</strong></p>
                                        <p><strong>Створив: {{ news.creator.employee.name }}</strong></p>
                                        <p><strong>Дата створення: {{ news.created }}</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
