{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}


{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row margin-top-20">
                <!-- PERMISSION CHECK -->
                {% if not task or task.is_editable %}
                <form id="TaskForm" class="form-horizontal" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                <div class="col-md-8">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="portlet light tasks-widget" style="height: 850px;">
                        <div class="portlet-title">
                            <div class="caption caption-md font-red-sunglo">
                                <span class="caption-subject theme-font bold uppercase">
                                    {% if task.pk %}Редагувати договір
                                    {% else %}Додати договір
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="widget-bg-color-white">
                                    <table class="table table-hover">
                                        <col width="25%">
                                        {{ executors_formset.non_form_errors }}
                                        {{ costs_formset.non_form_errors }}
                                        {{ sending_formset.non_form_errors }}
                                        {{ form }}
                                    </table>
                                    <div class="form-actions">
                                        {% if task.pk %}<a href="{% url 'task_delete' task.pk %}"class="btn red btn-sm btn-outline sbold uppercase">Видалити</a>{% endif %}
                                        <button type="submit" class="btn dark btn-sm btn-outline sbold uppercase" style="float: right;">Зберегти</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="widget-bg-color-white widget-tab">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_2_1" data-toggle="tab"> Виконавці </a>
                            </li>
                            <li>
                                <a href="#tab_2_2" data-toggle="tab"> Витрати </a>
                            </li>
                            <li>
                                <a href="#tab_2_3" data-toggle="tab"> Відправки </a>
                            </li>
                        </ul>
                        <div class="tab-content scroller" style="height: 790px;" data-always-visible="1" data-handle-color="#D7DCE2">
                            <div class="tab-pane fade active in" id="tab_2_1">
                              <table id="ExecutorsTable" class="table table-hover">
                                <col width="30%">
                                {{ executors_formset.non_form_errors }}
                                {% for form in executors_formset %}
                                  <tbody>
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    {{ form }}
                                  </tbody>
                                {% endfor %}
                              </table>
                              {{ executors_formset.management_form }}
                            </div>
                            <div class="tab-pane fade" id="tab_2_2">
                              <table id="CostsTable" class="table table-hover">
                                <col width="30%">
                                {{ costs_formset.non_form_errors }}
                                {% for form in costs_formset %}
                                  <tbody>
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    {{ form }}
                                  </tbody>
                                {% endfor %}
                              </table>
                              {{ costs_formset.management_form }}
                            </div>
                            <div class="tab-pane fade" id="tab_2_3">
                                <table id="SendingTable" class="table table-hover">
                                <col width="30%">
                                {{ sending_formset.non_form_errors }}
                                {% for form in sending_formset %}
                                  <tbody>
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    {{ form }}
                                  </tbody>
                                {% endfor %}
                                </table>
                                {{ sending_formset.management_form }}
                            </div>

                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                </form>
                {% else %}
                    Ви не маєте доступу до редагування даного проекту<br><br>
                {% endif %}
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
{% endblock css %}

{% block extrahead %}
<script type="text/javascript">
    window.onerror = function (msg) {
        $("body").attr("JSError", msg);
    }
</script>
<script src="{% static 'dynamic_formsets/jquery.formset.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript">
    $(function() {
        $('#ExecutorsTable tbody').formset({
            prefix: '{{ executors_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'Додати Виконавця',
            deleteText: 'Видалити Виконавця',
            'added': function(row){
                //find the fields with the calendar widget
                $(row).find('.vDateField').each(function(i){
                    //remove the cloned spam element: it links to an incorrect calendar
                    $(this).parent().find('span').remove();
                    //DateTimeShortcuts is in the django admin widgets
                    DateTimeShortcuts.addCalendar(this);
                })
                $(row).find('.django-select2').djangoSelect2();
            }
        });
        $('#CostsTable tbody').formset({
            prefix: '{{ costs_formset.prefix }}',
            formCssClass: 'dynamic-formset2',
            addText: 'Додати Підрядника',
            deleteText: 'Видалити Підрядника',
            'added': function(row){
                $(row).find('.vDateField').each(function(i){
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                    });
                $(row).find('.django-select2').djangoSelect2();
            }
        });
        $('#SendingTable tbody').formset({
            prefix: '{{ sending_formset.prefix }}',
            formCssClass: 'dynamic-formset3',
            addText: 'Додати Відправку',
            deleteText: 'Видалити Відправку',
            'added': function(row){
                $(row).find('.vDateField').each(function(i){
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                    });
                $(row).find('.django-select2').djangoSelect2();
            }
        });
    })
</script>

{% endblock %}