{% extends 'base.html' %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <br><!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <div class="row widget-row">
                <div class="portlet-body">
                    <div class="panel-group accordion" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a class="accordion-toggle theme-font bold uppercase" data-toggle="collapse" data-parent="#accordion1"
                                       href="#collapse_1" aria-expanded="false"> Договори </a>
                                </div>
                            </div>
                            <div id="collapse_1" class="panel-collapse collapse in" aria-expanded="false">
                                <div class="panel-body">
                                    <form action="{% url 'deal_list' %}" method="get">
                                        {% for hidden_field in filter_form.hidden_fields %}
                                            {{ hidden_field }}
                                        {% endfor %}

                                        <table width="100%"><tr>
                                        {% for field in filter_form.visible_fields %}
                                            <td>
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {% if field.help_text %}
                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td><button type="submit" class="btn dark btn-sm btn-outline sbold uppercase"> Пошук </button></td>
                                        <td>
                                            {{ deals_filtered }} знайдено <a href="{% url 'projects_list' %}"> ({{ deals_count }} всього) </a>
                                        </td>
                                        {% if request.user|has_group:"ГІПи" %}
                                        <td>
                                            <a href="{% url 'task_add' %}?{{ filters }}"
                                               class="btn dark btn-sm btn-outline sbold uppercase"> Додати проект </a>
                                        </td>
                                        {% endif %}
                                        </tr></table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                            <tr>
                                <th><a href="?{% url_replace request 'o' 'number' %}"> НОМЕР ДОГОВОРУ </a></th>
                                <th class="hidden-xs"><a href="?{% url_replace request 'o' 'customer__name' %}"> ЗАМОВНИК </a></th>
                                <th class="hidden-xs"> ВАРТІСТЬ РОБІТ, ГРН. </th>
                                <th class="hidden-xs"><a href="?{% url_replace request 'o' 'pay_status' %}"> СТАТУС ОПЛАТИ </a></th>
                                <th><a href="?{% url_replace request 'o' 'act_status' %}"> АКТ ВИКОНАНИХ РОБІТ </a></th>
                                <th> СТАТУС ВИКОНАННЯ </th>
                                <th> ПОПЕРЕДЖЕННЯ </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for deal in deals %}
                                <tr>
                                    <td>{{ deal.number }}</td>
                                    <td>{{ deal.customer }}</td>
                                    <td>{{ deal.value }}</td>
                                    <td>{{ deal.get_pay_status_display }}</td>
                                    <td>{{ deal.get_act_status_display }}</td>
                                    <td>{{ deal.exec_status }}</td>
                                    <td>{{ deal.overdue_status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if is_paginated %}
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                          {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}

                    <!-- END PAGE BASE CONTENT -->
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
