{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}


{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row margin-top-20">
                <!-- PERMISSION CHECK -->
                {% if perms.planner.change_deal %}
                <form id="DealForm" class="form-horizontal" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                <div class="col-md-7">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="widget-bg-color-white widget-tab">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_1_1" data-toggle="tab">
                                    {% if deal.pk %}Редагувати договір
                                    {% else %}Додати договір
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a href="#tab_1_2" data-toggle="tab"> Інформація по договру </a>
                            </li>
                        </ul>
                        <div class="tab-content scroller" data-handle-color="#D7DCE2">
                            <div class="tab-pane fade active in" id="tab_1_1">
                                    <table class="table table-hover">
                                        <col width="25%">
                                        {{ form }}
                                    </table>
                            </div>
                            <div class="tab-pane fade" id="tab_1_2">
                                    <table class="table table-hover">
                                        <col width="25%">
                                        <tr><th><p>Вартість договору по роботам:</p></th>
                                            <th><p><strong>{{ deal.value_calc }} грн.</strong></p></th>
                                        </tr>
                                        <tr><th><p>Бонуси по договору:</p></th>
                                            <th><p><strong>{{ deal.bonuses_calc }} грн.</strong></p></th>
                                        </tr>
                                        <tr>
                                            <th><p>Витрати по договору:</p></th>
                                            <th><p><strong>{{ deal.costs_calc }} грн.</strong></p></th>
                                        </tr>
                                        <tr>
                                            <th><p>Дата оплати:</p></th>
                                            <th><p><strong>{{ deal.pay_date_calc }}</strong></p></th>
                                        </tr>
                                    </table>
                            </div>
                            <div class="form-actions">
                                        {% if deal.pk %}<a href="{% url 'deal_delete' deal.pk %}?{{ filters }}"
                                                        class="btn red btn-sm btn-outline sbold uppercase">Видалити</a>
                                        {% else %}<a href="{% url 'deal_list' %}?{{ filters }}"
                                                        class="btn red btn-sm btn-outline sbold uppercase">Відмінити</a>
                                        {% endif %}
                                        <button type="submit" class="btn dark btn-sm btn-outline sbold uppercase"
                                                style="float: right;">Зберегти</button>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md font-red-sunglo">
                                <span class="caption-subject theme-font bold uppercase"> Проекти </span>
                            </div>
                        </div>
                        <div class="tab-content scroller" style="height: 770px;" data-handle-color="#D7DCE2">
                              <table id="TasksTable" class="table table-hover">
                                <col width="25%">
                                {{ tasks_formset.non_form_errors }}
                                {% for form in tasks_formset %}
                                  <tbody>
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    {{ form }}
                                  </tbody>
                                {% endfor %}
                              </table>
                              {{ tasks_formset.management_form }}
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                </form>
                {% else %}
                    Ви не маєте доступу до редагування даного проекту<br><br>
                {% endif %}
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
{% endblock css %}

{% block extrahead %}
<script type="text/javascript">
    window.onerror = function (msg) {
        $("body").attr("JSError", msg);
    }
</script>
<script src="{% static 'dynamic_formsets/jquery.formset.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript">
    $(function() {
        setTimeout(function() {
        $('span.select2-container.select2-container--bootstrap').width('auto');
        }, 100);
        $('#TasksTable tbody').formset({
            prefix: '{{ tasks_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'Додати Проект',
            deleteText: 'Видалити Проект',
            'added': function(row){
                //find the fields with the calendar widget
                $(row).find('.vDateField').each(function(i){
                    //remove the cloned spam element: it links to an incorrect calendar
                    $(this).parent().find('span').remove();
                    //DateTimeShortcuts is in the django admin widgets
                    DateTimeShortcuts.addCalendar(this);
                })
                $(row).find('.django-select2').djangoSelect2();
            }
        });
    })
</script>

{% endblock %}