{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <div class="container-fluid">
                <a href="{% url 'projects_list' %}">
                    <h2 class="breadcrumbs-title">Проекти</h2>
                </a>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row">
                <div class="col-md-8 col-md-offset-2 margin-bottom-20">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md font-red-sunglo">
                                <span class="caption-subject theme-font bold uppercase">Завдання</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height: 350px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <div class="widget-news margin-bottom-20">
                                    <div class="widget-news-right-body">
                                        <p><h3 class="widget-news-right-body-title">{{ task.task_name }}</h3></p>
                                        <p>Виконавець: <strong>{{ task.executor }}</strong></p>
                                        <p>Статус виконання: <strong>{{ task.get_exec_status_display }}</strong></p>
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th> Початок робіт</th>
                                                <th> Закінчення робіт</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td> Планові дати виконання</td>
                                                <td> {% if task.planned_start %}{{ task.planned_start }}{% endif %} </td>
                                                <td> {% if task.planned_finish %}{{ task.planned_finish }}{% endif %} </td>
                                            </tr>
                                            <tr>
                                                <td> Фактичні дати виконання</td>
                                                <td> {% if task.actual_start %}{{ task.actual_start }}{% endif %} </td>
                                                <td> {% if task.actual_finish %}{{ task.actual_finish }}{% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p>Бонус: <strong>{{ task.bonus }} грн.</strong></p>
                                        {% if cost.comment %}<p>Коментар: <strong>{{ cost.comment }}</strong></p>>{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET TAB -->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
