{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <div class="container-fluid">
                <a href="{% url 'news_list' %}">
                    <h2 class="breadcrumbs-title">Новини та повідомлення</h2>
                </a>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            {% if user.is_superuser or user == event.creator %}
            <div class="row widget-row">
                <div class="col-md-2 col-md-offset-5">
                <form action="" method="post">{% csrf_token %}
                    <div class="widget-news-right-body">
                        <h5 class="widget-news-right-body-title">{{ form.as_p }}</h5>
                        <input type="submit" value="Зберегти" style="float: right;" />
                    </div>
                </form><br><br>
                <form action="{% url 'news_delete' news.pk %}" method="get">{% csrf_token %}
                    <input type="submit" value="Видалити" style="float: right;" />
                </form>
                </div>
            </div>
            {% else %}
                Ви не маєте доступу до редагування даного контенту<br><br>
            {% endif %}
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
