{% extends 'base.html' %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <br><!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <div class="row widget-row">
                <div class="portlet-body">
                    <!-----------------------filter panel-------------------------->
                    <div class="panel-group accordion" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a class="accordion-toggle theme-font bold uppercase" data-toggle="collapse" data-parent="#accordion1"
                                       href="#collapse_1" aria-expanded="false"> Проекти </a>
                                </div>
                            </div>
                            <div id="collapse_1" class="panel-collapse collapse in" aria-expanded="false">
                                <div class="table-scrollable">
                                    <form action="{% url 'task_list' %}" method="get">
                                        {% for hidden_field in filter_form.hidden_fields %}
                                            {{ hidden_field }}
                                        {% endfor %}

                                        <table width="100%"><tr>
                                        {% for field in filter_form.visible_fields %}
                                            <td>
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {% if field.help_text %}
                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td><button type="submit" class="btn dark btn-sm btn-outline sbold uppercase"> Пошук </button></td>
                                        {% if perms.planner.add_task %}
                                            <td>
                                                <a href="{% url 'task_add' %}"
                                                   class="btn dark btn-sm btn-outline sbold uppercase"> Додати проект </a>
                                            </td>
                                        {% endif %}
                                        </tr></table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-----------------------filter panel-------------------------->

                    <form id="TaskExchange" action="{% url 'task_exchange' %}" method="get">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th><a href="?{% url_replace request 'o' 'object_code' %}"> ШИФР ОБ’ЄКТУ </a></th>
                                    <th class="hidden-xs"><a href="?{% url_replace request 'o' 'object_address' %}"> АДРЕСА ОБ'ЄКТУ </a></th>
                                    <th><a href="?{% url_replace request 'o' '-project_type__price_code' %}"> ТИП ПРОЕКТУ </a></th>
                                    <th class="hidden-xs"><a href="?{% url_replace request 'o' '-deal__creation_date' %}"> ДОГОВІР </a></th>
                                    <th><a href="?{% url_replace request 'o' '-exec_status' %}"> СТАТУС </a></th>
                                    <th><a href="?{% url_replace request 'o' 'owner' %}"> КЕРІВНИК ПРОЕКТУ </a></th>
                                    <th> ПОПЕРЕДЖЕННЯ </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td><input type="checkbox" name="ids" value="{{ task.id }}" /></td>
                                        {% if task.is_editable %}
                                            <td><a href="{% url 'task_update' task.id %}"> {{ task.object_code }} </a></td>
                                        {% elif task.is_viewable %}
                                            <td><a href="{% url 'task_detail' task.id %}"> {{ task.object_code }} </a></td>
                                        {% else %}
                                            <td> {{ task.object_code }} </td>
                                        {% endif %}
                                        <td class="hidden-xs"> {{ task.object_address }}</td>
                                        <td> {{ task.project_type }}</td>
                                        <td class="hidden-xs"> {{ task.deal }}</td>
                                        <td><span class="label label-sm label-{% task_status_color task.exec_status %} label-mini"> {{ task.get_exec_status_display }} </span></td>
                                        <td> {{ task.owner.name }} </td>
                                        <td> {{ task.overdue_status }} </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    {{ tasks_filtered }} знайдено <a href="{% url 'deal_list' %}"> ({{ tasks_count }} всього) </a><br>
                                    {% if is_paginated %}
                                        <div class="btn-group">
                                            <a href="?{% url_replace request 'page' 1 %}"
                                                class="btn btn-default{% if page_obj.number == 1 %} disabled{% endif %}">
                                                    <i class="fa fa-angle-double-left"></i></a>
                                            {% if page_obj.has_previous %}
                                                <a href="?{% url_replace request 'page' page_obj.previous_page_number %}"
                                                   class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                            {% else %}
                                                <a href="?{% url_replace request 'page' 1 %}"
                                                   class="btn btn-default disabled"><i
                                                        class="fa fa-angle-left"></i></a>
                                            {% endif %}

                                            {% for index in paginator|proper_paginate:page_obj.number %}
                                                <a href="?{% url_replace request 'page' index %}"
                                                   class="btn {% if index == page_obj.number %}green disabled{% else %}btn-default{% endif %}">{{ index }}</a>
                                            {% endfor %}

                                            {% if page_obj.has_next %}
                                                <a href="?{% url_replace request 'page' page_obj.next_page_number %}"
                                                   class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                                            {% else %}
                                                <a href="?{% url_replace request 'page' paginator.num_pages %}"
                                                   class="btn btn-default disabled"><i
                                                        class="fa fa-angle-right"></i></a>
                                            {% endif %}
                                            <a href="?{% url_replace request 'page' paginator.num_pages %}"
                                               class="btn btn-default{% if page_obj.number == paginator.num_pages %} disabled{% endif %}"><i
                                                    class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if perms.planner.change_deal %}
                            <button type="submit" class="btn dark btn-sm btn-outline sbold uppercase"
                                    style="float: right;">Змінити договір</button>
                        {% endif %}
                    </form>
                    <!-- END PAGE BASE CONTENT -->
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
