{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $('#ExecutorsTable tbody ').formset({
            prefix: '{{ executors_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'Додати Виконавця',
            deleteText: 'Видалити Виконавця'
        });
        $('#CostsTable tbody ').formset({
            prefix: '{{ costs_formset.prefix }}',
            formCssClass: 'dynamic-formset2',
            addText: 'Додати Підрядника',
            deleteText: 'Видалити Підрядника'
        });
        $('#SendingTable tbody ').formset({
            prefix: '{{ sending_formset.prefix }}',
            formCssClass: 'dynamic-formset3',
            addText: 'Додати Відправку',
            deleteText: 'Видалити Відправку'
        });
    })
</script>
<style type="text/css">
    .delete-row {
        margin-left:0px;
    }
</style>
{% endblock %}

{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row margin-top-20">
                <!-- PERMISSION CHECK -->
                {% if not task or task.is_editable %}
                <form id="TaskForm" class="form-horizontal" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                <div class="col-md-8">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md font-red-sunglo">
                                <span class="caption-subject theme-font bold uppercase">Редагування проекту</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="widget-bg-color-white">
                                    <span class="help-inline" style="color:red;">
                                    {{ form.non_field_errors }}
                                    </span>
                                    <table class="table table-hover">
                                        <col width="25%">
                                        {{ form.as_table }}
                                    </table>
                                    <div class="form-actions">
                                        <button type="submit" class="btn red btn-sm btn-outline sbold uppercase" >Видалити</button>
                                        <button type="submit" class="btn dark btn-sm btn-outline sbold uppercase" style="float: right;">Зберегти</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="widget-bg-color-white widget-tab">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_2_1" data-toggle="tab"> Виконавці </a>
                            </li>
                            <li>
                                <a href="#tab_2_2" data-toggle="tab"> Витрати </a>
                            </li>
                            <li>
                                <a href="#tab_2_3" data-toggle="tab"> Відправки </a>
                            </li>
                        </ul>
                        <div class="tab-content scroller" style="height: 790px;" data-always-visible="1" data-handle-color="#D7DCE2">
                            <div class="tab-pane fade active in" id="tab_2_1">
                              <table id="ExecutorsTable" class="table table-hover">
                                <col width="30%">
                                {% for form in executors_formset %}
                                  <tbody>
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    <span class="help-inline" style="color:red;">
                                        {{ form.non_field_errors }}
                                    </span>
                                    {{ form.as_table }}
                                    {% if form.instance.pk %}Видалити{{ form.DELETE }}{% endif %}
                                  </tbody>
                                {% endfor %}
                              </table>
                                {{ executors_formset.management_form }}
                            </div>
                            <div class="tab-pane fade" id="tab_2_2">
                              <table id="CostsTable" class="table table-hover">
                                <col width="30%">
                                {% for form in costs_formset %}
                                  <tbody>
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    <span class="help-inline" style="color:red;">
                                        {{ form.non_field_errors }}
                                    </span>
                                    {{ form.as_table }}
                                    {% if form.instance.pk %}Видалити{{ form.DELETE }}{% endif %}
                                  </tbody>
                                {% endfor %}
                              </table>
                              {{ costs_formset.management_form }}
                            </div>
                            <div class="tab-pane fade" id="tab_2_3">
                                <table id="SendingTable" class="table table-hover">
                                <col width="30%">
                                {% for form in sending_formset %}
                                  <tbody>
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    <span class="help-inline" style="color:red;">
                                        {{ form.non_field_errors }}
                                    </span>
                                    {{ form.as_table }}
                                    {% if form.instance.pk %}Видалити{{ form.DELETE }}{% endif %}
                                  </tbody>
                                {% endfor %}
                                </table>
                                {{ sending_formset.management_form }}
                            </div>

                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                </form>
                <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
                <script type="text/javascript">
                    window.onerror = function (msg) {
                        $("body").attr("JSError", msg);
                    }
                </script>
                {% else %}
                    Ви не маєте доступу до редагування даного проекту<br><br>
                {% endif %}
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}