{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row margin-top-20">
                <!-- PERMISSION CHECK -->
                {% is_editable object user as editable %}
                {% if editable %}
                {{ form.media.css }}
                {{ form.media.js }}
                <form class="form-horizontal" action="" method="post">{% csrf_token %}
                <div class="col-md-8">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md font-red-sunglo">
                                <span class="caption-subject theme-font bold uppercase">Редагування проекту</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="widget-bg-color-white">
                                    <span class="help-inline" style="color:red;">
                                    {{ form.non_field_errors }}
                                    </span>
                                    <table class="table table-hover">
                                        <col width="25%">
                                        {{ form.as_table }}
                                    </table>
                                    <div class="form-actions">
                                        <button type="submit" class="btn red btn-sm btn-outline sbold uppercase" >Видалити</button>
                                        <button type="submit" class="btn dark btn-sm btn-outline sbold uppercase" style="float: right;">Зберегти</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="widget-bg-color-white widget-tab">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_2_1" data-toggle="tab"> Виконавці </a>
                            </li>
                            <li>
                                <a href="#tab_2_2" data-toggle="tab"> Витрати </a>
                            </li>
                            <li>
                                <a href="#tab_2_3" data-toggle="tab"> Відправки </a>
                            </li>
                        </ul>
                        <div class="tab-content scroller" style="height: 790px;" data-always-visible="1" data-handle-color="#D7DCE2">
                            <div class="tab-pane fade active in" id="tab_2_1">
                                {{ executors_form.management_form }}
                                {% for form in executors_form %}
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    <span class="help-inline" style="color:red;">
                                        {{ form.non_field_errors }}
                                    </span>
                                    <table class="table table-hover">
                                        <col width="30%">
                                        {{ form.as_table }}
                                    </table>
                                {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="tab_2_2">
                                {{ costs_form.management_form }}
                                {% for form in costs_form %}
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    <span class="help-inline" style="color:red;">
                                        {{ form.non_field_errors }}
                                    </span>
                                    <table class="table table-hover">
                                        <col width="30%">
                                        {{ form.as_table }}
                                    </table>
                                {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="tab_2_3">
                                {{sending_form.management_form }}
                                {% for form in sending_form %}
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}
                                    <span class="help-inline" style="color:red;">
                                        {{ form.non_field_errors }}
                                    </span>
                                    <table class="table table-hover">
                                        <col width="30%">
                                        {{ form.as_table }}
                                    </table>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                </form>
                <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
                <script type="text/javascript">
                    window.onerror = function (msg) {
                        $("body").attr("JSError", msg);
                    }
                </script>
                {% else %}
                    Ви не маєте доступу до редагування даного проекту<br><br>
                {% endif %}
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}