{% extends 'base.html' %}
{% load static %}

{% block context %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css"/>
<div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
    <br><!-- BEGIN CONTENT -->
    <div class="container-fluid">
    <h5 class="title text-center">Шановний(а) Андрій.<br>За 9.2019 Вам були нараховані бонуси за виконання проектів та
        завдань.</h5>
        <div class="row">
            <div class="col-9">
                <div class="widget-bg-color-white main-widget-tab mt-2">
                    <h6 class="task-header center-block text-center">Бонуси за виконання проектів</h6>
                    <table id="exec_bonuses" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Шифр об'єкту</th>
                                <th scope="col">Адреса об'єкту</th>
                                <th scope="col">Тип проекту</th>
                                <th scope="col">Назва робіт</th>
                                <th scope="col">%</th>
                                <th scope="col">Бонус</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>UL3740</td>
                                <td>Львівська обл., м. Львів, вул. Княгині Ольги, 5/1-5</td>
                                <td>23.03 Доопрацювання робочого проекту ПП ,,ГАЛКОМСЕРВІС”</td>
                                <td>Проект</td>
                                <td>100</td>
                                <td>680.40</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>UL3740</td>
                                <td>Львівська обл., м. Львів, вул. Княгині Ольги, 5/1-5</td>
                                <td>23.03 Доопрацювання робочого проекту ПП ,,ГАЛКОМСЕРВІС”</td>
                                <td>Проект</td>
                                <td>100</td>
                                <td>680.40</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>UL3740</td>
                                <td>Львівська обл., м. Львів, вул. Княгині Ольги, 5/1-5</td>
                                <td>23.03 Доопрацювання робочого проекту ПП ,,ГАЛКОМСЕРВІС”</td>
                                <td>Проект</td>
                                <td>100</td>
                                <td>680.40</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>UL3740</td>
                                <td>Львівська обл., м. Львів, вул. Княгині Ольги, 5/1-5</td>
                                <td>23.03 Доопрацювання робочого проекту ПП ,,ГАЛКОМСЕРВІС”</td>
                                <td>Проект</td>
                                <td>100</td>
                                <td>680.40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="widget-bg-color-white main-widget-tab mt-4">
                    <h6 class="task-header center-block text-center">Бонуси за ведення проектів</h6>
                    <table id="owner_bonuses" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Шифр об'єкту</th>
                                <th scope="col">Адреса об'єкту</th>
                                <th scope="col">Тип проекту</th>
                                <th scope="col">%</th>
                                <th scope="col">Бонус</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>UL0975</td>
                                <td>Львівська обл, Самбірський р-н, м. Рудки, вул. Садова, 30</td>
                                <td>23.04.1 Обстеження АС, підсилення ПП ,,ГАЛКОМСЕРВІС”</td>
                                <td>76</td>
                                <td>456.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <div class="widget-bg-color-white main-widget-tab mt-2">
                    <h6 class="task-header center-block text-center">Бонуси за виконання завдань</h6>
                    <table id="inttasks_bonuses" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Завдання</th>
                                <th scope="col">Бонус</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>test1</td>
                                <td>1000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="" class="btn dark btn-sm btn-outline sbold uppercase ml-3">Головна</button>
            <button type="" class="btn dark btn-sm btn-outline sbold uppercase ml-auto mr-2">Позапопередній місяць</button>
            <button type="" class="btn dark btn-sm btn-outline sbold uppercase mr-2">Попередній місяць</button>
        </div>
            <h6 class="text-muted mt-2">Всьго нараховано 2136.40 бонусів.</h5>
    </div>
</div>
{% endblock context %}