{% extends 'base.html' %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}
{% load static %}

{% block context %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html">
        <br><!-- BEGIN CONTENT -->
        <div class="container-fluid">
            <div class="portlet-body">
                <button id="makePDF" type="button" class="btn btn-info">
                    Друк <i class="fas fa-print"></i>
                </button>
                <div id="dealList" class="table-scrollable">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th><a href="?{% url_replace request 'o' 'number' %}"> НОМЕР ДОГОВОРУ </a></th>
                                <th><a href="?{% url_replace request 'o' 'customer__name' %}"> ЗАМОВНИК </a></th>
                                <th> ВАРТІСТЬ РОБІТ, ГРН. </th>
                                <th><a href="?{% url_replace request 'o' 'pay_status' %}"> СТАТУС ОПЛАТИ </a></th>
                                <th><a href="?{% url_replace request 'o' 'act_status' %}"> АКТ ВИКОНАНИХ РОБІТ </a></th>
                                <th> СТАТУС ВИКОНАННЯ </th>
                                <th> ПОПЕРЕДЖЕННЯ </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in deals %}
                            <tr>
                                {% if perms.planner.change_deal %}
                                <td><a href="{% url 'deal_update' deal.id %}"> {{ deal.number }} </a></td>
                                {% else %}
                                <td> {{ deal.number }} </td>
                                {% endif %}
                                <td>{{ deal.customer }}</td>
                                <td>{{ deal.value }}</td>
                                <td>{{ deal.get_pay_status_display }}</td>
                                <td>{{ deal.get_act_status_display }}</td>
                                <td>{{ deal.get_exec_status_display }}</td>
                                <td><span
                                        class="badge badge-pill badge-{% deal_status_color deal.warning %} label-mini">
                                        {{ deal.warning }} </span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            {{ deals_filtered }} знайдено <a href="{% url 'deal_list' %}"> ({{ deals_count }} всього)
                            </a><br>
                            {% include 'pagination.html' %}
                        </div>
                    </div>
                </div>

                <!-- END PAGE BASE CONTENT -->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% if perms.planner.add_deal %}
<div class="add-btn-wrapper">
    <a href="{% url 'deal_add' %}" class="add_btn"><i class="fas fa-plus add-task"></i></a>
</div>
{% endif %}
{% include "widgets/filter_panel.html" %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
{% endblock css %}

{% block extrahead %}
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script src="{% static 'assets/apps/scripts/filter_panel.js' %}"></script>
<script>
const makePDFButton = document.querySelector('#makePDF');
makePDFButton.addEventListener('click', () => {
    printJS({
        printable: 'dealList',
        type: 'html',
        maxWidth: 'auto',
        style: '@page { size: A4 landscape; }; #sprintList {width: 120px!important;} th, tr > td {font-size: 10px!important;} .print-ignore {display:none} .uppercase { text-transform: uppercase !important; }',
        css: 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    })
})
</script>
{% endblock extrahead %}