{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}


{% block context %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css" />
<div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
    <!-- BEGIN CONTENT -->
    <div class="container-fluid container-lf-space">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="widget-row margin-top-20">
            <!-- PERMISSION CHECK -->
            {% if perms.planner.change_deal %}
            <form id="DealForm" class="container-fluid" action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <!--alert: inline layout-->
                <div class="row">
                    <div {% if deal.pk %} class="col-md-9" {% else %} class="col-md-12" {% endif %}>
                        <!-- BEGIN WIDGET TAB -->
                        <div class="card main-widget-tab">
                            {% if deal.pk %}
                            <h6 class="task-header center-block text-center">Редагувати договір</h6>
                            {% else %}
                            <h6 class="task-header center-block text-center">Додати договір</h6>
                            {% endif %}
                            <div class="card-body">
                                <div class="tab-content" data-handle-color="#D7DCE2" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="tab_1_1" role="tabpanel"
                                        aria-labelledby="pills-tab_1_1">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.number.name }}">{{ form.number.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.number }}
                                                    </div>
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.date.name }}">{{ form.date.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.date|attr:"style: width:60%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.customer.name }}">{{ form.customer.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.customer }}
                                                    </div>
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.company.name }}">{{ form.company.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.company|attr:"style: width:100%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.value.name }}">{{ form.value.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.value|attr:"style: width:100%" }}
                                                    </div>
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.advance.name }}">{{ form.advance.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.advance|attr:"style: width:100%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.pay_status.name }}">{{ form.pay_status.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.pay_status|attr:"style: width:100%" }}
                                                    </div>
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.pay_date.name }}">{{ form.pay_date.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.pay_date|attr:"style: width:60%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.act_status.name }}">{{ form.act_status.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.act_status|attr:"style: width:100%" }}
                                                    </div>
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.act_date.name }}">{{ form.act_date.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.act_date|attr:"style: width:60%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.expire_date.name }}">{{ form.expire_date.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.expire_date|attr:"style: width:60%" }}
                                                    </div>
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.act_value.name }}">{{ form.act_value.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.act_value|attr:"style: width:100%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.pdf_copy.name }}">{{ form.pdf_copy.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.pdf_copy }}
                                                    </div>
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.value_correction.name }}">{{ form.value_correction.label }}:</label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.value_correction|attr:"style: width:100%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label
                                                            for="id_{{ form.comment.name }}">{{ form.comment.label }}:</label>
                                                    </div>
                                                    <div class="col-10">
                                                        {{ form.comment }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            {% if deal.pk %}<a href="{% url 'deal_delete' deal.pk %}?{{ filters }}"
                                                class="btn deal-delete red btn-sm btn-outline sbold uppercase">Видалити</a>
                                            {% else %}<button href="{% url 'deal_list' %}?{{ filters }}"
                                                class="btn deal-cancel red btn-sm btn-outline sbold uppercase">Відмінити</button>
                                            {% endif %}
                                            <button type="submit" class="btn dark btn-sm btn-outline sbold uppercase"
                                                style="float: right;">Зберегти</button>
                                            {% if deal.pk %}
                                            <a href="{% url 'calculation' deal.pk %}"
                                                class="btn dark btn-sm btn-outline sbold uppercase mr-2"
                                                style="float: right;">Калькуляція по договору</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                    {% if deal.pk %}
                    <div class="col-md-3 col-sm-12 col-xs-12  margin-top-sm-20">
                        <!--alert: deal info-->
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">Інформація по договору</h6>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Вартість договору по роботам:
                                        <b>{{ deal.value_calc }} грн.</b></li>
                                    <li class="list-group-item">Бонуси по договору: <b>{{ deal.bonuses_calc }}
                                            грн.</b></li>
                                    <li class="list-group-item">Витрати по договору: <b>{{ deal.costs_calc }}
                                            грн.</b></li>
                                    <li class="list-group-item">Дата оплати: <b>{{ deal.pay_date_calc }}</b></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">Проекти</h6>
                            <div class="card-body pb-1">
                                {{ tasks_formset.non_form_errors }}
                                <!--check the length of the formset-->
                                <!--if formset is not empty-->
                                {% if tasks_formset|length %}
                                    {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                    {% endfor %}
                                <div class="row">
                                    <table class="table table-hover mb-0 table-responsive-xl" id="tasks_formset_not_empty">
                                        <thead>
                                            <tr align="center">
                                                <th width="10%" scope="col">ШИФР ОБ’ЄКТУ</th>
                                                <th scope="col">АДРЕСА ОБ’ЄКТУ</th>
                                                <th scope="col">ТИП ПРОЕКТУ</th>
                                                <th width="10%" scope="col">КЕРІВНИК ПРОЕКТУ</th>
                                                <th width="15%" scope="col">ПЛАНОВЕ ЗАКІНЧЕННЯ</th>
                                                <th width="10%" scope="col">СТАТУС ВИКОНАННЯ</th>
                                                <th width="3%" scope="col">Дії</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for form in tasks_formset %}
                                            <tr>
                                                {% for field in form %}
                                                {% if field.name == 'deal' or field.name == 'id' or field.name == 'DELETE'  %}
                                                {% else %}
                                                <th class="pl-1 pr-1">
                                                    {% comment %} <div class="col {{field.name}}">
                                                        <label
                                                            for="id_{{ form.prefix }}-{{field.name}}">{{ field.label }}:</label>
                                                    </div> {% endcomment %}
                                                    {{field.errors}}
                                                    {% if field.name == 'planned_finish' %}
                                                    {{ field|attr:"style: width:50%" }}
                                                    {% elif field.name == 'object_code' %}
                                                    {{ field|attr:"style: width:50%" }}
                                                    {% elif field %}
                                                    {{ field|attr:"style: width:100%" }}
                                                    {% endif %}
                                                </th>
                                                {% endif %}
                                                {% endfor %}
                                                <th>
                                                    {{form.deal}}
                                                    {{form.id}}
                                                </th>
                                                {% endfor %}
                                                <button type="button"
                                                    class="hidden add-formset badge badge-pill badge-info"> +
                                                </button>
                                        </tbody>
                                    </table>
                                </div>
                                {% else %}
                                <div style="display:none" id="tasks_formset">
                                    <table id="TasksTableEmptyForm" class="table table-hover task-formset table-responsive-xl">
                                        <thead>
                                            <tr align="center">
                                                <th width="10%" scope="col">ШИФР ОБ’ЄКТУ</th>
                                                <th scope="col">АДРЕСА ОБ’ЄКТУ</th>
                                                <th scope="col">ТИП ПРОЕКТУ</th>
                                                <th width="10%" scope="col">КЕРІВНИК ПРОЕКТУ</th>
                                                <th width="15%" scope="col">ПЛАНОВЕ ЗАКІНЧЕННЯ</th>
                                                <th width="10%" scope="col">СТАТУС ВИКОНАННЯ</th>
                                                <th width="2%" scope="col">Дії</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for hidden_field in form.hidden_fields %}
                                            {{ hidden_field }}
                                            {% endfor %}
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.object_code|attr:"style: width:50%" }}
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.object_address|attr:"style: width:100%" }}
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.project_type|attr:"style: width:100%" }}
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.owner|attr:"style: width:100%" }}
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.planned_finish|attr:"style: width:50%" }}
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.exec_status|attr:"style: width:100%" }}
                                            </th>
                                            <th class="pl-1 pr-1"> </th>
                                        </tbody>
                                    </table>
                                    <button style="display: none" type="button"
                                        class="delete-formset btn red btn-sm btn-outline margin-bottom-20 float-right">Видалити
                                        проект</button>
                                </div>
                                <button style="width: 100%" type="button"
                                    class="add-formset btn dark btn-sm btn-outline padding-bottom-20 mb-2">Додати
                                    проект</button>
                                {% endif %}
                                {{ tasks_formset.management_form }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </form>
            {% else %}
            Ви не маєте доступу до редагування даного проекту<br><br>
            {% endif %}
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT -->
</div>
<div style="position: fixed; bottom: 0; right: 3%; z-index: 100">
{% if tasks_formset.non_form_errors %}
        <div class="alert alert-danger">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header alert-header">
                    <strong class="mr-auto">Помилка в таблиці виконавці{{ field.label }}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ tasks_formset.non_form_errors|striptags }}
                </div>
            </div>
        </div>

{% endif %}
{% include 'widgets/form_errors.html' %}
</div>
<!-- END CONTAINER -->
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
{% endblock css %}

{% block extrahead %}
<script type="text/javascript">
    window.onerror = function (msg) {
        $("body").attr("JSError", msg);
    }
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script src="{% static 'dynamic_formsets/jquery.formset.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript">

const addBtn = document.querySelector('.add-formset');
if (document.querySelector('#tasks_formset')) {
    addBtn.addEventListener('click', () => {
        addInitialFormset();
        cliсk();
    })
}

function addInitialFormset() {
    const formsetTemplate = document.querySelector('#tasks_formset');
    formsetTemplate.setAttribute('style', '');
    addBtn.setAttribute('style', 'display:none');
}

function cliсk() {
    const initialBtn = document.querySelector('.add-row');
    const formsetTemplate = document.querySelector('#tasks_formset');
    initialBtn.click();
    const dynamicFormsetFirst = document.querySelectorAll('.dynamic-formset1')[0];
    dynamicFormsetFirst.setAttribute('style', 'display:none');
}

$(function () {
    setTimeout(function () {
        $('span.select2-container.select2-container--bootstrap').width('auto');
    }, 100);
    $('#tasks_formset_not_empty tbody tr').formset({
        prefix: '{{ tasks_formset.prefix }}',
        formCssClass: 'dynamic-formset1',
        addText: 'Додати Проект',
        deleteText: ' - ',
        addCssClass: 'add-row btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
        deleteCssClass: 'delete-row badge badge-pill badge-danger',
        'added': function (row) {
            //find the fields with the calendar widget
            $(row).find('.vDateField').each(function (i) {
                //remove the cloned spam element: it links to an incorrect calendar
                $(this).parent().find('span').remove();
                //DateTimeShortcuts is in the django admin widgets
                DateTimeShortcuts.addCalendar(this);
            })
            $(row).find('.django-select2').djangoSelect2();
            updateDealVal();
            deleteLastProjectBtn();
        }
    });
})

function updateDealVal() {
    const getTargetInput = document.querySelectorAll("[id$='-deal']");
    let dealId = getTargetInput[0].attributes.value.value;
    let lastTarget = getTargetInput[getTargetInput.length - 1];
    lastTarget.setAttribute( 'value', dealId );
};

function deleteLastProjectBtn() {
    const getDividers = document.querySelectorAll('.divider');
    const getButtons = document.querySelectorAll('.btnLink');
    let lastDivider = getDividers[getDividers.length - 1];
    let lastButton = getButtons[getButtons.length - 1];
    lastDivider.style.display = 'none';
    lastButton.style.display = 'none';
};

$(function () {
    setTimeout(function () {
        $('span.select2-container.select2-container--bootstrap').width('auto');
    }, 100);
    $('#tasks_formset tbody tr').formset({
        prefix: '{{ tasks_formset.prefix }}',
        formCssClass: 'dynamic-formset1',
        addText: 'Додати Проект',
        deleteText: '-',
        addCssClass: 'add-row btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
        deleteCssClass: 'delete-row badge badge-pill badge-danger',
        'added': function (row) {
            //find the fields with the calendar widget
            $(row).find('.vDateField').each(function (i) {
                //remove the cloned spam element: it links to an incorrect calendar
                $(this).parent().find('span').remove();
                //DateTimeShortcuts is in the django admin widgets
                DateTimeShortcuts.addCalendar(this);
            })
            $(row).find('.django-select2').djangoSelect2();
        }
    });
})
</script>

{% endblock %}