{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}


{% block context %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css" />
<div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
    <!-- BEGIN CONTENT -->
    <div class="container-fluid container-lf-space">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="widget-row margin-top-20">
            <!-- PERMISSION CHECK -->
            {% if perms.planner.change_deal %}
            <form id="DealForm" class="container-fluid" action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <!--alert: inline layout-->
                <div class="row">
                    <div {% if deal.pk %} class="col-md-9" {% else %} class="col-md-12" {% endif %}>
                        <!-- BEGIN WIDGET TAB -->
                        <div class="card main-widget-tab">
                            {% if deal.pk %}
                            <h6 class="task-header center-block text-center">Редагувати договір</h6>
                            {% else %}
                            <h6 class="task-header center-block text-center">Додати договір</h6>
                            {% endif %}
                            <div class="card-body">
                                <div class="tab-content" data-handle-color="#D7DCE2" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="tab_1_1" role="tabpanel"
                                        aria-labelledby="pills-tab_1_1">
                                        <div class="col-12">
                                            <small style="margin-top: -15px;" class="text-danger mt-2 mb-2">
                                                {{ form.non_field_errors }}
                                            </small>
                                            <div class="form-group">

                                                <div class="row">
                                                    <div class="col-2">
                                                        <label for="id_{{ form.number.name }}">
                                                            {{ form.number.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.number|attr:"style: height: 34px; padding-left: 5px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                        <div class="invalid-feedback">
                                                            {{form.number.errors}}
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <label for="id_{{ form.date.name }}">
                                                            {{ form.date.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.date|attr:"style: height: 34px; width:10%; display: inline-block; padding-left: 8px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                        <div class="invalid-feedback">
                                                            {{form.date.errors}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label for="id_{{ form.customer.name }}">
                                                            {{ form.customer.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.customer|attr:"style: height:34px; padding-left: 8px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                        <div class="invalid-feedback">
                                                            {{form.customer.errors}}
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <label for="id_{{ form.company.name }}">
                                                            {{ form.company.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                        {{ form.company|attr:"style: height:34px; width:100%; padding-left: 5px; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                            <div class="invalid-feedback">
                                                                {{form.company.errors}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-2">
                                                        <label for="id_{{ form.value.name }}">
                                                            {{ form.value.label }}
                                                            :</label>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                        {{ form.value|attr:"style: width:100%; height:34px; padding-left: 8px; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                            <div class="invalid-feedback">
                                                                {{form.value.errors}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <label for="id_{{ form.expire_date.name }}">
                                                            {{ form.expire_date.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.expire_date|attr:"style: height:34px; width:60%; display: inline-block; padding-left: 8px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                        <div class="invalid-feedback">
                                                            {{form.expire_date.errors}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-2">
                                                        <label for="id_{{ form.manual_warning.name }}">
                                                            {{ form.manual_warning.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.manual_warning|attr:"style: width:100%; padding-left: 8px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{form.manual_warning.errors}}
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <label for="id_{{ form.value_correction.name }}">
                                                            {{ form.value_correction.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                        {{ form.value_correction|attr:"style: width:100%; height:28px; padding-left: 8px; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                            <div class="invalid-feedback">
                                                                {{form.value_correction.errors}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-2">
                                                        <label for="id_{{ form.parent_deal_number.name }}">
                                                            {{ form.parent_deal_number.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                        {{ form.parent_deal_number|attr:"style: width:100%; padding-left: 8px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                            <div class="invalid-feedback">
                                                                {{form.parent_deal_number.errors}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <label for="id_{{ form.parent_deal_date.name }}">
                                                            {{ form.parent_deal_date.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.parent_deal_date|attr:"style: width:60%; display: inline-block; padding-left: 8px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{form.parent_deal_date.errors}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-2">
                                                        <label for="id_{{ form.comment.name }}">
                                                            {{ form.comment.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                        {{ form.comment|attr:"style: width:100%; height:56px; padding-left: 8px; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                            <div class="invalid-feedback">
                                                                {{form.comment.errors}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <label for="id_{{ form.pdf_copy.name }}">
                                                            {{ form.pdf_copy.label }}:
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        {{ form.pdf_copy|add_error_class:"is-invalid" }}
                                                        <div class="invalid-feedback">
                                                            {{form.pdf_copy.errors}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            {% if deal.pk %}<a href="{% url 'deal_delete' deal.pk %}"
                                                class="btn deal-delete red btn-sm btn-outline sbold uppercase">Видалити</a>
                                            {% else %}<button href="{% url 'deal_list' %}"
                                                class="btn deal-cancel red btn-sm btn-outline sbold uppercase">Відмінити</button>
                                            {% endif %}
                                            <button type="submit"
                                                class="btn dark btn-sm btn-outline sbold uppercase"
                                                style="float: right;">Зберегти
                                            </button>
                                            <button type="submit" name="save_add" value="True"
                                                class="btn dark btn-sm btn-outline sbold uppercase mr-2"
                                                style="float: right;">Зберегти і продовжити редагування
                                            </button>
                                            {% if deal.pk and deal.customer.deal_template %}
                                                <a href="{% url 'deal_render' deal.pk %}"
                                                class="btn dark btn-sm btn-outline sbold uppercase mr-2"
                                                style="float: right;">Договір
                                                </a>
                                                <a href="{% url 'deal_generate_pdf' deal.pk %}"
                                                class="btn dark btn-sm btn-outline sbold uppercase mr-2"
                                                style="float: right;">Згенерувати PDF
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                    {% if deal.pk %}
                    <div class="col-md-3 col-sm-12 col-xs-12  margin-top-sm-20">
                        <!--alert: deal info-->
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">Інформація по договору</h6>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Акт виконаних робіт: <b>{{ deal.get_act_status_display}}</b></li>
                                    <li class="list-group-item">Статус оплати: <b>{{ deal.get_pay_status_display}}</b></li>
                                    <li class="list-group-item">Вартість договору по роботам:
                                        <b>{{ deal.value_calc }} грн.</b></li>
                                    <li class="list-group-item">Бонуси по договору: <b>{{ deal.bonuses_calc }}
                                            грн.</b></li>
                                    <li class="list-group-item">Витрати по договору: <b>{{ deal.costs_calc }}
                                            грн.</b></li>
                                    {% if deal.pay_date_calc %}
                                        <li class="list-group-item">Планова дата оплати: <b> {{ deal.pay_date_calc|date:"d E Y" }} р.</b></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if deal.pk %}
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">Проекти</h6>
                            <div class="card-body pb-1">
                                {{ tasks_formset.non_form_errors }}
                                <!--check the length of the formset-->
                                <!--if formset is not empty-->
                                {% if tasks_formset|length %}
                                    {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                    {% endfor %}
                                <div class="row">
                                    <table class="table table-hover mb-0 table-responsive-xl" id="tasks_formset_not_empty">
                                        <thead>
                                            <tr>
                                                <th width="10%" scope="col">ШИФР ОБ’ЄКТУ</th>
                                                <th scope="col">АДРЕСА ОБ’ЄКТУ</th>
                                                <th scope="col">ТИП ПРОЕКТУ</th>
                                                <th width="10%" scope="col">КЕРІВНИК ПРОЕКТУ</th>
                                                <th width="10%" scope="col">ПЛАНОВЕ ЗАКІНЧЕННЯ</th>
                                                <th width="10%" scope="col">СТАТУС ВИКОНАННЯ</th>
                                                <th width="10%" scope="col">АКТ ВИКОНАНИХ РОБІТ</th>
                                                <th width="2%" scope="col">Дії</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for form in tasks_formset %}
                                            <tr>
                                                {% for field in form %}
                                                {% if field.name == 'deal' or field.name == 'id' or field.name == 'DELETE'  %}
                                                {% else %}
                                                <th class="pl-1 pr-1">
                                                    {% comment %} <div class="col {{field.name}}">
                                                        <label
                                                            for="id_{{ form.prefix }}-{{field.name}}">{{ field.label }}:</label>
                                                    </div> {% endcomment %}
                                                    {% if field.name == 'planned_finish' %}
                                                    {{ field|attr:"style: width:50%; display: inline-block; padding-left: 5px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                    <div class="invalid-feedback">
                                                        {{field.errors}}
                                                    </div>
                                                    {% elif field.name == 'object_code' %}
                                                    {{ field|attr:"style: width:50%; padding-left: 5px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                    <div class="invalid-feedback">
                                                        {{field.errors}}
                                                    </div>
                                                    {% elif field %}
                                                    <div class="form-group">
                                                    {{ field|attr:"style: width:100%; height:34px; padding-left: 5px; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                        <div class="invalid-feedback">
                                                            {{field.errors}}
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </th>
                                                {% endif %}
                                                {% endfor %}
                                                <th>
                                                    {{form.deal}}
                                                    {{form.id}}
                                                    {{form.DELETE}}
                                                </th>
                                                {% endfor %}
                                                <button type="button"
                                                    class="hidden add-formset badge badge-pill badge-info"> +
                                                </button>
                                        </tbody>
                                    </table>
                                </div>
                                {% else %}
                                <div style="display:none" id="tasks_formset">
                                    <table class="table table-hover task-formset table-responsive-xl" id="tasks_formset_empty">
                                        <thead>
                                            <tr>
                                                <th width="10%" scope="col">ШИФР ОБ’ЄКТУ</th>
                                                <th scope="col">АДРЕСА ОБ’ЄКТУ</th>
                                                <th scope="col">ТИП ПРОЕКТУ</th>
                                                <th width="10%" scope="col">КЕРІВНИК ПРОЕКТУ</th>
                                                <th width="10%" scope="col">ПЛАНОВЕ ЗАКІНЧЕННЯ</th>
                                                <th width="10%" scope="col">СТАТУС ВИКОНАННЯ</th>
                                                <th width="10%" scope="col">АКТ ВИКОНАНИХ РОБІТ</th>
                                                <th width="2%" scope="col">Дії</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for hidden_field in form.hidden_fields %}
                                            {{ hidden_field }}
                                            {% endfor %}
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.object_code|attr:"style: width:50%; padding-left: 5px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                <div class="invalid-feedback">
                                                    {{tasks_formset.empty_form.object_code.errors}}
                                                </div>
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.object_address|attr:"style: width:100%"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                <div class="invalid-feedback">
                                                    {{tasks_formset.empty_form.object_address.errors}}
                                                </div>
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.project_type|attr:"style: width:100%"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                <div class="invalid-feedback">
                                                    {{tasks_formset.empty_form.project_type.errors}}
                                                </div>
                                            </th>
                                            <th class="pl-1 pr-1">
                                                <div class="form-group">
                                                {{ tasks_formset.empty_form.owner|attr:"style: width:100%; height:34px; padding-left: 5px; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                    <div class="invalid-feedback">
                                                        {{tasks_formset.empty_form.owner.errors}}
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ tasks_formset.empty_form.planned_finish|attr:"style: width:50%; display: inline-block;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                <div class="invalid-feedback">
                                                    {{tasks_formset.empty_form.owner.errors}}
                                                </div>
                                            </th>
                                            <th class="pl-1 pr-1">
                                                <div class="form-group">
                                                {{ tasks_formset.empty_form.exec_status|attr:"style: width:100%; height:34px; padding-left: 5px; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                    <div class="invalid-feedback">
                                                        {{tasks_formset.empty_form.exec_status.errors}}
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="pl-1 pr-1">
                                                <div class="form-group">
                                                {{ tasks_formset.empty_form.act_of_acceptance|attr:"style: width:100%; height:34px; padding-left: 5px; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                    <div class="invalid-feedback">
                                                        {{tasks_formset.empty_form.act_of_acceptance.errors}}
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="pl-1 pr-1"> </th>
                                        </tbody>
                                    </table>
                                    <button style="display: none" type="button"
                                        class="delete-formset btn red btn-sm btn-outline margin-bottom-20 float-right">Видалити проект
                                    </button>
                                </div>
                                <button style="width: 100%" type="button"
                                    class="add-tasks-formset btn dark btn-sm btn-outline padding-bottom-20 mb-2">Додати проект
                                </button>
                                {% endif %}
                                {{ tasks_formset.management_form }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">Акти виконаних робіт</h6>
                            <div class="card-body pb-1">
                                {% if actofacceptance_formset|length %}
                                    <div class="row">
                                        <table class="table table-hover mb-0 table-responsive-xl"
                                            id="actofacceptance_formset_not_empty">
                                            <thead>
                                                <tr>
                                                    <th width="20%" scope="col">НОМЕР АКТУ</th>
                                                    <th width="20%" scope="col">ДАТА АКТУ</th>
                                                    <th width="20%" scope="col">СУМА АКТУ</th>
                                                    <th scope="col">ЕЛЕКТРОННИЙ ПРИМІРНИК</th>
                                                    <th width="6%" scope="col">Дії</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <small class="text-danger">
                                                {{ actofacceptance_formset.non_form_errors }}
                                                </small>
                                                {% for form in actofacceptance_formset %}
                                                <tr>
                                                    <th class="pl-1 pr-1">
                                                        {{form.number|attr:"style: width:50%; "|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{form.number.errors}}
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        {{form.date|attr:"style: width:50%; display: inline-block;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{form.date.errors}}
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        <div class="form-group">
                                                            {{form.value|attr:"style: width:50%; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                            <div class="invalid-feedback">
                                                                {{form.value.errors}}
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        <!-- {% if form.instance.pdf_copy %}
                                                            <a href="{% media_url form.instance.pdf_copy %}"> Скачати акт {{form.instance.number}} </a>
                                                        {% endif %} -->
                                                        <div class="form-group">
                                                            {{form.pdf_copy|add_error_class:"is-invalid"}}
                                                            <div class="invalid-feedback">
                                                                {{form.pdf_copy.errors}}
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        {% if deal.pk and deal.customer.act_template and form.instance.pk %}
                                                            <a href="{% url 'act_render' form.instance.pk %}"
                                                            class="btnLink"
                                                            style="font-size: 20px; font-weight: 100;">
                                                            <i style="font-size: 16px;" data-toggle="tooltip" title="Згенерувати акт" data-placement="right" class="fas fa-file-invoice"></i>
                                                            </a>
                                                            <a href="{% url 'act_generate_pdf' form.instance.pk %}"
                                                            class="btnLink"
                                                            style="font-size: 20px; font-weight: 100;">
                                                            <i style="font-size: 16px;" data-toggle="tooltip" title="Згенерувати pdf" data-placement="right" class="fas fa-file-pdf"></i>
                                                            </a>
                                                        {% endif %}
                                                        {{ form.id }}{{ form.DELETE }}
                                                    </th>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {{ actofacceptance_formset.management_form }}
                                    </div>
                                {% else %}
                                    <div style="display:none" id="actofacceptance_formset">
                                        <table id="actofacceptance_formset_empty" class="table table-hover task-formset table-responsive-xl">
                                            <thead>
                                                <tr>
                                                    <th width="20%" scope="col">НОМЕР АКТУ</th>
                                                    <th width="20%" scope="col">ДАТА АКТУ</th>
                                                    <th width="20%" scope="col">СУМА АКТУ</th>
                                                    <th scope="col">ЕЛЕКТРОННИЙ ПРИМІРНИК</th>
                                                    <th width="2%" scope="col">Дії</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <small class="text-danger">
                                                {{ actofacceptance_formset.non_form_errors }}
                                                </small>

                                                <tr>
                                                    <th class="pl-1 pr-1">
                                                        {{actofacceptance_formset.empty_form.number|attr:"style: width:50%; "|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{actofacceptance_formset.empty_form.number.errors}}
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        {{actofacceptance_formset.empty_form.date|attr:"style: width:50%; display: inline-block;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{actofacceptance_formset.empty_form.date.errors}}
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        <div class="form-group">
                                                            {{actofacceptance_formset.empty_form.value|attr:"style: width:50%; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                            <div class="invalid-feedback">
                                                                {{actofacceptance_formset.empty_form.value.errors}}
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        <div class="form-group">
                                                            {{actofacceptance_formset.empty_form.pdf_copy|attr:"style: width:50%; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                            <div class="invalid-feedback">
                                                                {{actofacceptance_formset.empty_form.errors}}
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th>{{ actofacceptance_formset.empty_form.id }}{{ actofacceptance_formset.empty_form.DELETE }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {{ actofacceptance_formset.management_form }}
                                    </div>
                                    <button style="width: 100%" type="button"
                                        class="add-act-formset btn dark btn-sm btn-outline padding-bottom-20 mb-2">Додати акт
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">Оплати</h6>
                            <div class="card-body pb-1">
                                {% if payment_formset|length %}
                                    <div class="row">
                                        <table class="table table-hover mb-0 table-responsive-xl"
                                            id="payment_formset_not_empty">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ДАТА ОПЛАТИ</th>
                                                    <th scope="col">СУМА ОПЛАТИ</th>
                                                    <th scope="col">АКТ ВИКОНАНИХ РОБІТ</th>
                                                    <th width="2%" scope="col">Дії</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <small class="text-danger">
                                                {{ payment_formset.non_form_errors }}
                                                </small>
                                                {% for form in payment_formset %}
                                                <tr>
                                                    <th class="pl-1 pr-1">
                                                        {{form.date|attr:"style: width:20%; display: inline-block;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{form.date.errors}}
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        {{form.value|attr:"style: width:30%; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{form.value.errors}}
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        <div class="form-group">
                                                            {{ form.act_of_acceptance|attr:"style: width:30%; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                            <div class="invalid-feedback">
                                                                {{form.act_of_acceptance.errors}}
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th>{{ form.id }}{{ form.DELETE }}</th>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {{ payment_formset.management_form }}
                                    </div>
                                {% else %}
                                    <div class="row" style="display:none" id="payment_formset">
                                        <table class="table table-hover mb-0 table-responsive-xl" id="payment_formset_empty">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ДАТА ОПЛАТИ</th>
                                                    <th scope="col">СУМА ОПЛАТИ</th>
                                                    <th scope="col">АКТ ВИКОНАНИХ РОБІТ</th>
                                                    <th width="2%" scope="col">Дії</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <small class="text-danger">
                                                {{ payment_formset.non_form_errors }}
                                                </small>

                                                <tr>
                                                    <th class="pl-1 pr-1">
                                                        {{payment_formset.empty_form.date|attr:"style: width:20%; display: inline-block;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{payment_formset.empty_form.date.errors}}
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        {{payment_formset.empty_form.value|attr:"style: width:30%; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid"}}
                                                        <div class="invalid-feedback">
                                                            {{payment_formset.empty_form.value.errors}}
                                                        </div>
                                                    </th>
                                                    <th class="pl-1 pr-1">
                                                        <div class="form-group">
                                                            {{ payment_formset.empty_form.act_of_acceptance|attr:"style: width:30%; font-size: 14px;"|add_class:"form-control"|add_error_class:"is-invalid" }}
                                                            <div class="invalid-feedback">
                                                                {{payment_formset.empty_form.act_of_acceptance.errors}}
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th>{{ payment_formset.empty_form.id }}{{ payment_formset.empty_form.DELETE }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {{ payment_formset.management_form }}
                                    </div>
                                    <button style="width: 100%" type="button"
                                        class="add-payment-formset btn dark btn-sm btn-outline padding-bottom-20 mb-2">Додати оплату
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- END PORTLET-->
            </form>
            {% else %}
            Ви не маєте доступу до редагування даного проекту<br><br>
            {% endif %}
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT -->
</div>
<div style="position: fixed; bottom: 0; right: 3%; z-index: 100">
{% if tasks_formset.non_form_errors %}
        <div class="alert alert-danger">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header alert-header">
                    <strong class="mr-auto">Помилка в таблиці виконавці{{ field.label }}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ tasks_formset.non_form_errors|striptags }}
                </div>
            </div>
        </div>

{% endif %}
{% include 'widgets/form_errors.html' %}
</div>
<!-- END CONTAINER -->
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
{% endblock css %}

{% block extrahead %}
<script type="text/javascript">
    window.onerror = function (msg) {
        $("body").attr("JSError", msg);
    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script src="{% static 'dynamic_formsets/jquery.formset.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript">

const addBtnExec = document.querySelector('.add-tasks-formset');
const addBtnCost = document.querySelector('.add-act-formset');
const addBtnSend = document.querySelector('.add-payment-formset');
if (document.querySelector('#tasks_formset')) {
    addBtnExec.addEventListener('click', () => {
        addInitialFormset('tasks_formset', addBtnExec);
        cliсk('tasks_formset', 'dynamic-formset1');
    })
};

if (document.querySelector('#actofacceptance_formset')) {
    addBtnCost.addEventListener('click', () => {
        addInitialFormset('actofacceptance_formset', addBtnCost);
        cliсk('actofacceptance_formset', 'dynamic-formset2');
    })
};

if (document.querySelector('#payment_formset')) {
    addBtnSend.addEventListener('click', () => {
        addInitialFormset('payment_formset', addBtnSend);
        cliсk('payment_formset', 'dynamic-formset3');
    })
};

function addInitialFormset(formsetId, btn) {
    const formsetTemplate = document.querySelector('#' + formsetId);
    formsetTemplate.setAttribute('style', '');
    btn.setAttribute('style', 'display:none');
};

function cliсk(formsetId, dynamicFormset) {
    const initialBtn = document.querySelector('.add-row-' + formsetId);
    const formsetTemplate = document.querySelector('#' + formsetId);
    initialBtn.click();
    const dynamicFormsetFirst = document.querySelectorAll('.' + dynamicFormset)[0];
    dynamicFormsetFirst.setAttribute('style', 'display:none');
};

    $(function () {
        setTimeout(function () {
            $('span.select2-container.select2-container--bootstrap').width('auto');
        }, 100);
        $('#tasks_formset_not_empty tbody tr').formset({
            prefix: '{{ tasks_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'Додати проект',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge-pill badge-danger',
            'added': function (row) {
                //find the fields with the calendar widget
                $(row).find('.vDateField').each(function (i) {
                    //remove the cloned spam element: it links to an incorrect calendar
                    $(this).parent().find('span').remove();
                    //DateTimeShortcuts is in the django admin widgets
                    DateTimeShortcuts.addCalendar(this);
                })
                $(row).find('.django-select2').djangoSelect2();
            }
        });

        $('#tasks_formset_empty tbody tr').formset({
            prefix: '{{ tasks_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'Додати проект',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row-tasks_formset btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge-pill badge-danger',
            'added': function (row) {
                //find the fields with the calendar widget
                $(row).find('.vDateField').each(function (i) {
                    //remove the cloned spam element: it links to an incorrect calendar
                    $(this).parent().find('span').remove();
                    //DateTimeShortcuts is in the django admin widgets
                    DateTimeShortcuts.addCalendar(this);
                })
                $(row).find('.django-select2').djangoSelect2();
            }
        });

        $('#actofacceptance_formset_not_empty tbody tr').formset({
            prefix: '{{ actofacceptance_formset.prefix }}',
            formCssClass: 'dynamic-formset2',
            addText: 'Додати акт',
            deleteText: '<i class="far fa-trash-alt" title="Відкрити редагування проекту"></i>',
            addCssClass: 'add-row btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge-pill badge-danger',
            'added': function (row) {
                $(row).find('.vDateField').each(function (i) {
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                });
                $(row).find('.django-select2').djangoSelect2();
                // $(row).find('.pdf_copy').html("Документ згенерується після збереження");
            }
        });

        $('#actofacceptance_formset_empty tbody tr').formset({
            prefix: '{{ actofacceptance_formset.prefix }}',
            formCssClass: 'dynamic-formset2',
            addText: 'Додати акт',
            keepFieldValues: '*',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row-actofacceptance_formset btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge badge-pill badge-danger',
            'added': function (row) {
                $(row).find('.vDateField').each(function (i) {
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                });
                $(row).find('.django-select2').djangoSelect2();
            }
        });

        $('#payment_formset_not_empty tbody tr').formset({
            prefix: '{{ payment_formset.prefix }}',
            formCssClass: 'dynamic-formset3',
            addText: 'Додати оплату',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge-pill badge-danger',
            'added': function (row) {
                $(row).find('.vDateField').each(function (i) {
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                });
                $(row).find('.django-select2').djangoSelect2();
            }
        });

        $('#payment_formset_empty tbody tr').formset({
            prefix: '{{ payment_formset.prefix }}',
            formCssClass: 'dynamic-formset3',
            addText: 'Додати оплату',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row-payment_formset btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge badge-pill badge-danger',
            'added': function (row) {
                $(row).find('.vDateField').each(function (i) {
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                });
                $(row).find('.django-select2').djangoSelect2();
            }
        });
    })
</script>

{% endblock %}
