{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block global_meta %}
    <title>Ітел-Сервіс | Працівники</title>
{% endblock %}

{% block context %}

<style type="text/css">

.dropdown-toggle::after {
    display: none;
}

.navbar-nav .dropdown-menu {
     position: absolute;
     float: none;
}

input[type=file] {
    position: relative;
    opacity: 0;
    z-index: 100;
}

div.fakefile {
	position: absolute;
	top: 48px;
	left: 220px;
	z-index: 1;
}
</style>

<!-- BEGIN CONTENT -->
<div class="container-fluid container-lf-space">
    <div class="row1">
    <form id="TaskForm" class="form-horizontal" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row widget-row">
            <div class="col-md-6 margin-bottom-20">
                <div class="widget-bg-color-white mt-4 mb-4">
                    <!-- Card -->
                    <div class="card testimonial-card hoverable shadow">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white mt-2 view overlay zoom rounded-circle">
                            <picture>
                                <img src="{{ employee.avatar.large.url }}" class="rounded-circle img-fluid"
                                    alt="avatar">
                            </picture>
                        </div>
                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title text-center"><b>{{ employee.name }}</b></h4>
                            <hr>
                            <p><i class="far fa-envelope"></i> email: <b>{{  employee.user.email  }}</b></p>
                            <p><i class="fas fa-phone"> </i> Мобільний телефон: <b>{{  employee.mobile_phone  }}</b></p>
                            <p><i class="fas fa-phone"> </i> Внутрішній номер: <b>{{  employee.phone  }}</b></p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
            </div>
            <div class="col-md-6 margin-bottom-20">
                <div class="widget-bg-color-white mt-4 mb-4 hoverable shadow">
                    <div class="card testimonial-card">
                        <ul class="list-group list-group-flush">
                            <h4 class="text-center text-uppercase">Про користувача</h4>
                            <li class="list-group-item">ПІБ: <b>{{  employee.name }}</b></li>
                            <li class="list-group-item">Посада: <b>{{  employee.position  }}</b></li>
                            <li class="list-group-item">Керівник: <b>{{  employee.head  }}</b> </li>
                            <li class="list-group-item">День народження: <b>{{  employee.birthday  }}</b></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
