{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}


{% block context %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css" />
<div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">

    <!-- BEGIN CONTENT -->
    <div class="container container-lf-space">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="widget-row margin-top-20">
            <form id="GenericForm" class="container-fluid" action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <!--alert: inline layout-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN WIDGET TAB -->
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">
                                {{header_main}}
                            </h6>
                            <div class="card-body">
                            {{ form.non_form_errors }}
                                {% for field in form %}
                                <p>
                                {{field.errors}}
                                </p>
                                <div class="form-group row">
                                    <label for="id_{{ field.name }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                                    <div class="col-sm-10">
                                    {{ field|add_class:"form-control" }}
                                    </div>
                                </div>
                                {% endfor %}
                            <a href="{{ back_btn_url }}"
                                class="btn deal-delete red btn-sm btn-outline sbold uppercase">{{ back_btn_text }}</a>
                            <button type="submit" class="btn dark btn-sm btn-outline sbold uppercase"
                                style="float: right;">Зберегти</button>
                            </div>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                </div>
            </form>
        </div>
    </div>
    </form>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT -->
<div style="position: fixed; bottom: 0; right: 3%; z-index: 100">
    {% include 'widgets/form_errors.html' %}
</div>
</div>
<!-- END CONTAINER -->
{% endblock %}
