{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <!-- PERMISSION CHECK -->
            {% if execution.task.is_viewable %}
            <div class="row widget-row mt-4">
                <div class="col-md-8">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="widget-bg-color-white main-widget-tab widget-tab">
                        <ul class="nav nav-pills nav-tabs pt-2" id="pills-tab" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" id="pills-tab_1_1-tab"
                                    data-toggle="pill" href="#tab_1_1"
                                    role="tab" aria-controls="pills-tab_1_1" aria-selected="true">
                                    Опис
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content"
                            data-always-visible="1"
                            data-handle-color="#D7DCE2">
                            <div class="widget-news margin-bottom-20">
                                <div class="widget-news-right-body">
                                    <table class="table table-hover">
                                        <col width="25%">
                                        <tr>
                                            <td> Об'єкт: </td>
                                            <td> {{ execution.task.object_code }}
                                                {{ execution.task.object_address }}
                                                <span class="label label-warning float-right">
                                                    {{ execution.task.warning }}
                                                </span>
                                            </td>

                                        <tr>
                                            <td> Тип проекту: </td>
                                            <td> {{ execution.task.project_type }} </td>
                                        </tr>
                                        <tr>
                                            <td> Керівник проекту: </td>
                                            <td> {{ execution.task.owner.name }} </td>
                                        </tr>
                                        <tr>
                                            <td> Статус виконання: </td>
                                            <td> {{ execution.task.get_exec_status_display }} </td>
                                        </tr>
                                        {% if execution.task.tc_received %}
                                            <tr>
                                                <td> Дата отримання ТЗ або заявки: </td>
                                                <td> {{ execution.task.tc_received }}
                                                <a href="/media/{{ execution.task.tc_upload }}"> Переглянути </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if execution.task.pdf_copy %}
                                            <tr>
                                                <td> Електронний примірник: </td>
                                                <td> <a href="/media/{{ execution.task.pdf_copy }}"> Переглянути </a> </td>
                                            </tr>
                                        {% endif %}
                                    </table>

                                    <table class="table table-hover">
                                        <thead>
                                        <col width="25%">
                                        <tr>
                                            <th></th>
                                            <th> Початок робіт</th>
                                            <th> Закінчення робіт</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td> Планові дати виконання:</td>
                                            <td> {% if execution.task.planned_start %}{{ execution.task.planned_start }}{% endif %} </td>
                                            <td> {% if execution.task.planned_finish %}{{ execution.task.planned_finish }}{% endif %} </td>
                                        </tr>
                                        <tr>
                                            <td> Фактичні дати виконання:</td>
                                            <td> {% if execution.task.actual_start %}{{ execution.task.actual_start }}{% endif %} </td>
                                            <td> {% if execution.task.actual_finish %}{{ execution.task.actual_finish }}{% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-hover">
                                        <col width="25%">
                                        <tr>
                                            <td> Роботи: </td>
                                            <td> {{ execution.subtask.name }} </td>
                                        </tr>
                                        <tr>
                                            <td> Частка: </td>
                                            <td> {{ execution.part }} % </td>
                                        </tr>
                                        <tr>
                                            <td> Бонус за виконання: </td>
                                            <td> {% exec_bonus execution.task execution.part %} грн. </td>
                                        </tr>
                                    </table>
                                </div>
                                <a href="{{request.META.HTTP_REFERER}}"
                                    class="btn dark task-return btn-sm btn-outline sbold uppercase mb-3" style="float: right;"> Повернутись
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="widget-bg-color-white main-widget-tab widget-tab">
                        <ul class="nav nav-pills nav-tabs pt-2" id="pills-tab" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" id="pills-tab_2_1-tab" data-toggle="pill" href="#tab_2_1"
                                    role="tab" aria-controls="pills-tab_2_1" aria-selected="false"> Виконавці </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-tab_2_2-tab" data-toggle="pill" href="#tab_2_2"
                                    role="tab" aria-controls="pills-tab_2_2" aria-selected="true"> Відправки </a>
                            </li>
                        </ul>
                        <div class="tab-content scroller" data-always-visible="1" data-handle-color="#D7DCE2">
                            <div class="tab-pane fade show active" id="tab_2_1" role="tabpanel" aria-labelledby="pills-tab_2_1">
                                {% if executors|length > 0 %}
                                    {% for executor in executors %}
                                        <div class="widget-media">
                                            <div class="widget-media-elements text-center">
                                                <img class="widget-media-avatar circle margin-bottom-15"
                                                    src="{{ executor.executor.avatar.thumbnail.url }}" alt="">
                                            </div>
                                            <div class="widget-media-body">
                                                <h4 class="widget-media-body-title">
                                                    <a href="#">{{ executor.executor.name }}</a>
                                                </h4>
                                                Назва робіт: <strong>{{ executor.subtask.name }}</strong><br>
                                                Частка: <div class="widget-btn-blue circle">{{ executor.part }} %</div><br>
                                                Статус виконання: <strong>{{ executor.get_exec_status_display }}</strong><br>
                                                {% if executor.actual_finish %}Дата виконання: <strong>{{ executor.actual_finish }}</strong><br>{% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="widget-media">
                                        <div class="widget-media-body">
                                            <p class="widget-media-body-subtitle">Виконавці відсутні</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade show" id="tab_2_2" role="tabpanel" aria-labelledby="pills-tab_2_2">
                                {% if sendings|length > 0 %}
                                    {% for sending in sendings %}
                                        <div class="widget-media">
                                            <div class="widget-media-body">
                                                <h4 class="widget-media-body-title">
                                                    <a href="#">{{ sending.receiver.name }}</a>
                                                </h4>
                                                Дата відправки: <strong>{{ sending.receipt_date }}</strong><br>
                                                Кількість: <div class="widget-btn-blue circle" href="#">{{ sending.copies_count }} примірник</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="widget-media">
                                        <div class="widget-media-body">
                                            <p class="widget-media-body-subtitle">Відправки відсутні</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script type="text/javascript">
                window.onerror = function (msg) {
                    $("body").attr("JSError", msg);
                }
            </script>
            {% else %}
                Ви не маєте доступу до перегляду даного проекту<br><br>
            {% endif %}
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
