{% load ita_template_tags %}

<table id="executions-table" class="table table-striped table-advance table-hover">
    <thead>
        <tr>
            <th class="uppercase"><a href="?{% url_replace request 'o' 'task__object_code' %}">шифр</a></th>
            <th class="uppercase"><a href="?{% url_replace request 'o' 'executor' %}">тип проекту</a></th>
            <th class="uppercase"><a href="?{% url_replace request 'o' 'subtask' %}">роботи</a></th>
            <th class="hidden-xs uppercase"><a href="?{% url_replace request 'o' 'task__object_address' %}">договір</a></th>
            <!-- Only for staff members -->
            {% if request.user.is_staff %}
                <th class="uppercase"><a href="?{% url_replace request 'o' 'executor' %}">виконавець</a></th>
            {% endif %}
            <th class="hidden-xs uppercase"><a href="?{% url_replace request 'o' 'planned_start' %}">плановий початок</a></th>
            <th class="hidden-xs uppercase"><a href="?{% url_replace request 'o' 'planned_finish' %}">плановий кінець</a></th>
            <th class="hidden-xs uppercase"><i class="fa fa-calendar-check-o"></i></th>
            {% if request.user.is_superuser or request.user|has_group:"ГІПи" %}
            <th></th>
            {% endif %}
            <th class="uppercase"><a href="?{% url_replace request 'o' 'exec_status' %}">статус виконання</a></th>
            {% if request.user.is_staff %}
                <th class="print-ignore uppercase">змінити статус</th>
            {% endif %}
            <th class="uppercase"><a href="?{% url_replace request 'o' 'actual_finish' %}">дата виконання</a></th>
            <th class="uppercase"> попередження </th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            {% if task.task.is_editable %}
                <td><a data-toggle="tooltip" data-placement="right" title="{{ task.task.object_address }}" href="{% url 'task_update' task.task.id %}">{{ task.task.object_code }}</a></td>
            {% elif task.task.is_viewable %}
                <td><a data-toggle="tooltip" data-placement="right" title="{{ task.task.object_address }}" href="{% url 'task_detail' task.task.id %}">{{ task.task.object_code }}</a></td>
            {% else %}
                <td data-toggle="tooltip" data-placement="right" title="{{ task.task.object_address }}">{{ task.task.object_code }}</td>
            {% endif %}
            {% if request.user.is_staff %}
                <td><span data-toggle="tooltip" data-placement="right" title="{{ task.task.project_type.project_type }}">{{ task.task.project_type.price_code }}</span></td>
            {% else %}
                <td>{{ task.task.project_type.project_type }}</td>
            {% endif %}
            <td>{{ task.subtask.name }}</td>
            <td>{{ task.task.deal.number }}</td>
            {% if request.user.is_staff %}
                <td>{{ task.executor }}</td>
            {% endif %}
            {% if task.work_started %}
                <td data-toggle="tooltip" title="Початок виконання: {{ task.work_started }}">
                    {% none_datetime_check task.planned_start %}
                </td>
            {% else %}
                <td>{% none_datetime_check task.planned_start %}</td>
            {% endif %}
            {% if not task.work_started and not task.exec_status == 'IW' %}
                <td data-toggle="tooltip" title="Тривалість виконання: {{ task.actual_duration }}">
                    {% none_datetime_check task.planned_finish_with_interruption %}
                </td>
            {% else %}
                <td>{% none_datetime_check task.planned_finish_with_interruption %}</td>
            {% endif %}
            <td>{% if task.fixed_date %}<i class="fa fa-lock" aria-hidden="true"></i>{% endif %}</td>
            {% if request.user.is_superuser or request.user|has_group:"ГІПи" %}
                <td>
                    <button type="button" class="update-execution btn btn-link" data-form-url="{% url 'execution_update' task.pk %}">
                        <span class="fa fa-refresh"></span>
                    </button>
                </td>
            {% endif %}
            <td>
                {{ task.get_exec_status_display }}
            </td>
            {% if request.user.is_staff %}
                <td class="print-ignore" class="text-center">
                    {% status_change request.user task.pk task.exec_status %}
                </td>
            {% endif %}
            <td>{% none_date_check task.actual_finish %}</td>
            <td>
                <span class="badge badge-pill badge-{% task_overdue_color task.warning_select %} label-mini">
                    {{task.warning_select}}
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
