{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <div class="container-fluid">
                <a href="{% url 'task_list' %}">
                    <h2 class="breadcrumbs-title">Проекти</h2>
                </a>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row">
                <div class="col-md-8 col-md-offset-2 margin-bottom-20">
                    <!-- BEGIN WIDGET -->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md font-red-sunglo">
                                <span class="caption-subject theme-font bold uppercase">{{ inttask.task_name }}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height: 350px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <div class="widget-news margin-bottom-20">
                                    <div class="widget-news-right-body">
                                        <table class="table table-hover">
                                            <col width="30%">
                                            <tr>
                                                <th> Виконавець: </th>
                                                <td> {{ inttask.executor }} </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th> Статус виконання: </th>
                                                <td> {{ inttask.get_exec_status_display }} </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <th> Початок робіт</th>
                                                <th> Закінчення робіт</th>
                                            </tr>
                                            <tr>
                                                <th> Планові дати виконання</th>
                                                <td> {% if inttask.planned_start %}{{ inttask.planned_start }}{% endif %} </td>
                                                <td> {% if inttask.planned_finish %}{{ inttask.planned_finish }}{% endif %} </td>
                                            </tr>
                                            <tr>
                                                <th> Фактичні дати виконання</th>
                                                <td> {% if inttask.actual_start %}{{ inttask.actual_start }}{% endif %} </td>
                                                <td> {% if inttask.actual_finish %}{{ inttask.actual_finish }}{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Бонус: </th>
                                                <td> {{ inttask.bonus }} грн. </td>
                                                <td></td>
                                            </tr>
                                            {% if cost.comment %}
                                                <tr>
                                                    <th> Коментар: </th>
                                                    <td> {{ cost.comment }} </td>
                                                    <td></td>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
