{% extends 'base.html' %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}
{% load static %}

{% block context %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <div class="container-fluid">
                <a href="{% url 'news_list' %}">
                    <h2 class="breadcrumbs-title">Новини та повідомлення</h2>
                </a>
                {% if perms.planner.add_news %}
                    <div align="right">
                        <a href="{% url 'news_add' %}" class="news-add btn dark btn-sm btn-outline sbold uppercase">Додати новину</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <div class="row widget-row">
                    <div class="table">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                            <tr>
                                <th class="news"> НАЗВА НОВИНИ</th>
                                <th class="news"> ТИП НОВИНИ </th>
                                <th class="news d-none d-sm-table-cell"> АКТУАЛЬНА З</th>
                                <th class="news d-none d-sm-table-cell"> АКТУАЛЬНА ДО </th>
                                <th class="news d-none d-sm-table-cell"> СТВОРИВ </th>
                                <th class="news d-none d-sm-table-cell"> ДАТА СТВОРЕННЯ </th>
                                <th></th>
                            </tr>
                            </thead>
                            {% for news in object_list %}
                                <tbody>
                                <tr>
                                    <td class="news"><a href="{% url 'news_detail' news.pk %}"> {{ news.title }} </a></td>
                                    <td class="news">{{ news.get_news_type_display }}</td>
                                    <td class="news d-none d-sm-table-cell">{% if news.actual_from %}{{ news.actual_from }}{% endif %}</td>
                                    <td class="news d-none d-sm-table-cell">{% if news.actual_to %}{{ news.actual_to }}{% endif %}</td>
                                    <td class="news d-none d-sm-table-cell">{{ news.creator }}</td>
                                    <td class="news d-none d-sm-table-cell">{{ news.created }}</td>
                                    <td class="news">
                                    {% if perms.planner.change_news %}
                                        <a href="{% url 'news_update' news.pk %}"
                                            class="news-edit btn dark btn-sm btn-outline sbold uppercase">
                                            Редагувати</a>
                                    {% endif %}
                                    {% if perms.planner.delete_news %}
                                        <a href="{% url 'news_delete' news.pk %}"
                                            class="news-delete btn dark btn-sm btn-outline sbold uppercase">
                                            Видалити</a>
                                    {% endif %}
                                    </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
