{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <div class="container-fluid">
                <h2 class="breadcrumbs-title">Видалити новину?</h2>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            {% if perms.planner.delete_news %}
            <div class="row widget-row">
                <div class="col-md-6 col-md-offset-3" align="center">
                <form action="" method="post">{% csrf_token %}
                    <p>Ви впевнені, що хочете видалити "{{ object }}"?</p>
                    <button type="submit" class="btn dark btn-sm btn-outline sbold uppercase"> Так я впевнений </button>
                    <a href="{{request.META.HTTP_REFERER}}"
                       class="btn dark btn-sm btn-outline sbold uppercase"> Повернутись </a>
                </form>
                </div>
            </div>
            {% else %}
                Ви не маєте доступу до видалення даного контенту<br><br>
            {% endif %}
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
