
{% load ita_template_tags %}

<table class="table table-striped table-advance table-hover">
    <thead>
        <tr>
            <th><a href="?{% url_replace request 'o' 'subtask' %}"> КОНТРАГЕНТ - ЗАМОВЛЕННЯ </a></th>
            <th><a href="?{% url_replace request 'o' 'task' %}"> ПРОЕКТ </a></th>
            <th> ВАРТІСТЬ РОБІТ, ГРН. </th>
            <th><a href="?{% url_replace request 'o' 'pay_status' %}"> СТАТУС ОПЛАТИ </a></th>
            <th><a href="?{% url_replace request 'o' 'pay_date' %}"> ПЛАНОВА ДАТА ОПЛАТИ </a></th>
            <th><a href="?{% url_replace request 'o' 'approved_date' %}"></a> ДАТА ПОГОДЖЕННЯ </th>
            <th> СТАТУС ВИКОНАННЯ </th>
            <th> ПОПЕРЕДЖЕННЯ </th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            {% if perms.planner.change_order %}
            <td><a href="{% url 'order_update' order.id %}"> {{ order }} </a></td>
            {% else %}
            <td> {{ order }} </td>
            {% endif %}
            <td>{{ order.task }}</td>
            <td>{{ order.value }}</td>
            <td>{{ order.get_pay_status_display }}</td>
            <td>{% none_date_check order.pay_date %}</td>
            <td>
                {% if order.can_approve %}
                    <a href="{% url 'order_approve' order.id %}"> Погодити </a>
                {% else %}
                    {% none_date_check order.approved_date %}
                {% endif %}
            </td>
            <td>{{ order.get_exec_status }}</td>
            <td><span class="badge badge-pill badge-{% deal_status_color order.warning %} label-mini">
                {{ order.warning }}
            </span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
