{% extends 'base.html' %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load static %}

{% block global_meta %}
    <title>Ітел-Сервіс | Замовлення</title>
{% endblock %}

{% block context %}
    <style>
        .select2-container--bootstrap {
            display: inline-table
        }
    </style>
    <div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html">
        <br><!-- BEGIN CONTENT -->
        <div class="container-fluid">
            <div class="portlet-body">
                <div id="OrderList" class="table-scrollable">
                    {% include 'planner/order_table.html' %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            {{ orders_filtered }} знайдено на суму {{ total_value }} грн. <a href="{% url 'order_list' %}"> ({{ orders_count }} всього)
                            </a><br>
                            {% include 'pagination.html' %}
                        </div>
                    </div>
                </div>
                <!-- END PAGE BASE CONTENT -->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <div class="add-btn-wrapper">
    {% if perms.planner.add_order %}
        <a href="{% url 'order_add' %}" class="add_btn"><i class="fas fa-plus add-task"></i></a>
    {% endif %}
    <a id="makePDF" class="print_btn"><i class="fas fa-print"></i></a>
    </div>
    {% include "widgets/filter_panel.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
{% endblock css %}

{% block extrahead %}
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <script src="{% static 'assets/apps/scripts/filter_panel.js' %}"></script>
    <script>
    const makePDFButton = document.querySelector('#makePDF');
    makePDFButton.addEventListener('click', () => {
        printJS({
            printable: 'OrderList',
            type: 'html',
            maxWidth: 'auto',
            style: '@page { size: A4 landscape; }; #sprintList {width: 120px!important;} th, tr > td {font-size: 10px!important;} .print-ignore {display:none} .uppercase { text-transform: uppercase !important; }',
            css: 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        })
    })
    </script>
{% endblock extrahead %}
