{% extends 'base.html' %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load static %}

{% block global_meta %}
    <title>Ітел-Сервіс | Планування</title>
{% endblock %}

{% block context %}
<style>
    .select2-container--bootstrap {
        display: inline-table
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css" />
<div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
    <br><!-- BEGIN CONTENT -->
    <div class="container-fluid">
        <div class="portlet-body">
            <div id="sprintList" class="table-scrollable">
                {% include 'planner/execution_table.html' %}
            </div>
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        {{ tasks_filtered }} знайдено <a href="{% url 'sprint_list' %}"> ({{ tasks_count }} всього)
                        </a><br>
                        {% include 'pagination.html' %}
                    </div>
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
</div>
<div class="add-btn-wrapper">
    <a id="makePDF" class="print_btn"><i class="fas fa-print"></i></i></a>
    <a href="{% url 'get_plan' %}" class="add_btn"><i class="fa fa-bar-chart" style="color:LightSeaGreen"></i></a>
</div>
{% include 'widgets/filter_panel.html' %}
<script>

</script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
{% endblock css %}

{% block extrahead %}
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <script src="{% static 'assets/apps/scripts/filter_panel.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        const makePDFButton = document.querySelector('#makePDF');
        makePDFButton.addEventListener('click', () => {
            printJS(
                    {
                        printable: 'sprintList',
                        type: 'html',
                        maxWidth: 'auto',
                        style: '@page { size: A4 landscape; }; #sprintList {width: 120px!important;} th, tr > td {font-size: 10px!important;} .print-ignore {display:none} .uppercase { text-transform: uppercase !important; }',
                        css: 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
                    }
                )
        })

        function updateExecutionModalForm() {
            $(".update-execution").each(function () {
                $(this).modalForm({
                    formURL: $(this).data("form-url"),
                });
            });
            }

        updateExecutionModalForm();

    </script>

{% endblock extrahead %}
