{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}


{% block context %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'assets/global/css/custom.css' %}" rel="stylesheet" type="text/css" />
<div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">

    <!-- BEGIN CONTENT -->
    <div class="container-fluid container-lf-space">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="widget-row margin-top-20">
            <!-- PERMISSION CHECK -->
            {% if not task.pk or task.is_editable %}
            <form id="TaskForm" class="container-fluid" action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <!--alert: inline layout-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN WIDGET TAB -->
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">
                                {% if task.pk %}Редагувати проект
                                {% else %}Додати проект
                                {% endif %}
                            </h6>
                            <div class="card-body">
                                <div class="tab-content" data-handle-color="#D7DCE2" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="tab_1_1" role="tabpanel"
                                        aria-labelledby="pills-tab_1_1">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <!--alert: object_code-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.object_code.name }}">{{ form.object_code.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        {{ form.object_code }}
                                                    </div>
                                                    <!--alert: object_address-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.object_address.name }}">{{ form.object_address.label }}:</label>
                                                    </div>
                                                    <div class="col-7">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.object_address.errors}}
                                                        </small>
                                                        {{ form.object_address|attr:"style: width:100%" }}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <!--alert: project_type-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.project_type.name }}">{{ form.project_type.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.project_type.errors}}
                                                        </small>
                                                        {{ form.project_type }}
                                                    </div>
                                                    <!--alert: deal-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.deal.name }}">{{ form.deal.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.deal.errors}}
                                                        </small>
                                                        {{ form.deal|attr:"style: width:100%" }}
                                                    </div>
                                                    <!--alert: tc_received-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.tc_received.name }}">{{ form.tc_received.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.tc_received.errors}}
                                                        </small>
                                                        {{ form.tc_received|attr:"style: width:10%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <!--alert: exec_status-->
                                                    <div class="col-8">
                                                        <div class="row">
                                                            <div style="flex: 0 0 12.666667%" class="col-2">
                                                                <label
                                                                    for="id_{{ form.exec_status.name }}">{{ form.exec_status.label }}:</label>
                                                            </div>
                                                            <div style="flex: 0 0 37.333333%; max-width: 37.333333%;" class="col-4">
                                                                <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                                    {{form.exec_status.errors}}
                                                                </small>
                                                                {{ form.exec_status|attr:"style: width:100%" }}
                                                            </div>
                                                            <!--alert: owner-->
                                                            <div style="flex: 0 0 12.666667%; max-width: 12.666667%;" class="col-2">
                                                                <label
                                                                    for="id_{{ form.owner.name }}">{{ form.owner.label }}:</label>
                                                            </div>
                                                            <div class="col-4">
                                                                <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                                    {{form.owner.errors}}
                                                                </small>
                                                                {{ form.owner|attr:"style: width:100%" }}
                                                            </div>
                                                        </div>
                                                        <div class="row mt-4">
                                                            <!--alert: planned_start-->
                                                            <div style="flex: 0 0 12.666667%; max-width: 12.666667%;" class="col-2">
                                                                <label
                                                                    for="id_{{ form.planned_start.name }}">{{ form.planned_start.label }}:</label>
                                                            </div>
                                                            <div style="flex: 0 0 37.333333%; max-width: 37.333333%;" class="col-4">
                                                                <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                                    {{form.planned_start.errors}}
                                                                </small>
                                                                {{ form.planned_start|attr:"style: width:10%" }}
                                                            </div>
                                                            <!--alert: actual_start-->
                                                            <div style="flex: 0 0 12.666667%; max-width: 12.666667%;" class="col-2">
                                                                <label
                                                                    for="id_{{ form.actual_start.name }}">{{ form.actual_start.label }}:</label>
                                                            </div>
                                                            <div style="flex: 0 0 37.333333%; max-width: 37.333333%;" class="col-4">
                                                                <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                                    {{form.actual_start.errors}}
                                                                </small>
                                                                {{ form.actual_start|attr:"style: width:10%" }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--alert: tc_upload-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.tc_upload.name }}">{{ form.tc_upload.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.tc_upload.errors}}
                                                        </small>
                                                        {{ form.tc_upload|attr:"style: width:100%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <!--alert: planned_finish-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.planned_finish.name }}">{{ form.planned_finish.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.planned_finish.errors}}
                                                        </small>
                                                        {{ form.planned_finish|attr:"style: width:10%" }}
                                                    </div>
                                                    <!--alert: actual_finish-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.actual_finish.name }}">{{ form.actual_finish.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.actual_finish.errors}}
                                                        </small>
                                                        {{ form.actual_finish|attr:"style: width:10%" }}
                                                    </div>
                                                    <!--alert: pdf_copy-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.pdf_copy.name }}">{{ form.pdf_copy.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.pdf_copy.errors}}
                                                        </small>
                                                        {{ form.pdf_copy|attr:"style: width:100%" }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <!--alert: project_code-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.project_code.name }}">{{ form.project_code.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.project_code.errors}}
                                                        </small>
                                                        {{ form.project_code|attr:"style: width:100%" }}
                                                    </div>
                                                    <!--alert: manual_warning-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.manual_warning.name }}">{{ form.manual_warning.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.manual_warning.errors}}
                                                        </small>
                                                        {{ form.manual_warning|attr:"style: width:100%" }}
                                                    </div>
                                                    <!--alert: comment-->
                                                    <div class="col-1">
                                                        <label
                                                            for="id_{{ form.comment.name }}">{{ form.comment.label }}:</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <small style="position: absolute; margin-top: -15px;" class="text-danger">
                                                            {{form.comment.errors}}
                                                        </small>
                                                        {{ form.comment }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            {% if task.pk %}<a href="{% url 'task_delete' task.pk %}?{{ filters }}"
                                                class="btn deal-delete red btn-sm btn-outline sbold uppercase">Видалити</a>
                                            {% else %}<button href="{% url 'task_list' %}?{{ filters }}"
                                                class="btn deal-cancel red btn-sm btn-outline sbold uppercase">Відмінити</button>
                                            {% endif %}
                                            <button type="submit" class="btn dark btn-sm btn-outline sbold uppercase"
                                                style="float: right;">Зберегти</button>
                                            {% comment %} {% if task.pk %}
                                            <a href="{% url 'calculation' deal.pk %}"
                                                class="btn dark btn-sm btn-outline sbold uppercase mr-2"
                                                style="float: right;">Калькуляція по договору</a>
                                            {% endif %} {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">Виконавці</h6>
                            <div class="card-body pb-1">
                                <small class="text-danger">
                                {{ executors_formset.non_form_errors }}
                                </small>
                                <!--check the length of the formset-->
                                <!--if formset is not empty-->
                                {% if executors_formset|length %}
                                <div class="row">
                                    <table class="table table-hover mb-0 table-responsive-xl"
                                        id="executor_formset_not_empty">
                                        <thead>
                                            <tr align="center">
                                                <th width="20%" scope="col">ВИКОНАВЕЦЬ</th>
                                                <th scope="col">РОБОТИ</th>
                                                <th width="5%" scope="col">ЧАСТКА</th>
                                                <th width="10%" scope="col">СТАТУС ВИКОНАННЯ</th>
                                                <th width="15%" scope="col">ПЛАНОВИЙ ПОЧАТОК</th>
                                                <th width="15%" scope="col">ПЛАНОВИЙ КІНЕЦЬ</th>
                                                <th width="15%" scope="col">ДАТА ВИКОНАННЯ</th>
                                                <th width="15%" scope="col">ПОПЕРЕДЖЕННЯ</th>
                                                <th width="1%">ДІЇ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for form in executors_formset %}
                                            <tr>
                                                <th class="pl-1 pr-1">
                                                    {{ form.executor.errors }}
                                                    {{ form.executor|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.part_name.errors }}
                                                    {{ form.part_name|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.part.errors }}
                                                    {{ form.part|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.exec_status.errors }}
                                                    {{ form.exec_status|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.planned_start.errors }}
                                                    {{ form.planned_start|attr:"style: width:60%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.planned_finish.errors }}
                                                    {{ form.planned_finish|attr:"style: width:60%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.finish_date.errors }}
                                                    {{ form.finish_date|attr:"style: width:60%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.warning.errors }}
                                                    {{ form.warning|attr:"style: width:100%" }}
                                                </th>
                                                <th>{{ form.DELETE }}{{ form.id }} </th>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {{ executors_formset.management_form }}
                                </div>
                                {% else %}
                                <div class="row" style="display:none" id="executors_formset">
                                    <table class="table table-hover mb-0 table-responsive-xl"
                                        id="executor_formset_empty">
                                        <thead>
                                            <tr align="center">
                                                <th width="20%" scope="col">ВИКОНАВЕЦЬ</th>
                                                <th scope="col">РОБОТИ</th>
                                                <th width="5%" scope="col">ЧАСТКА</th>
                                                <th width="10%" scope="col">СТАТУС ВИКОНАННЯ</th>
                                                <th width="15%" scope="col">ПЛАНОВИЙ ПОЧАТОК</th>
                                                <th width="15%" scope="col">ПЛАНОВИЙ КІНЕЦЬ</th>
                                                <th width="15%" scope="col">ДАТА ВИКОНАННЯ</th>
                                                <th width="15%" scope="col">ПОПЕРЕДЖЕННЯ</th>
                                                <th width="1%">ДІЇ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for hidden_field in form.hidden_fields %}
                                            {{ hidden_field }}
                                            {% endfor %}
                                            <tr>
                                                <th class="pl-1 pr-1">
                                                    {{ executors_formset.empty_form.executor.errors }}
                                                    {{ executors_formset.empty_form.executor|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ executors_formset.empty_form.part_name.errors }}
                                                    {{ executors_formset.empty_form.part_name|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ executors_formset.empty_form.part.errors }}
                                                    {{ executors_formset.empty_form.part|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ executors_formset.empty_form.exec_status.errors }}
                                                    {{ executors_formset.empty_form.exec_status|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ executors_formset.empty_form.planned_start.errors }}
                                                    {{ executors_formset.empty_form.planned_start|attr:"style: width:60%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ executors_formset.empty_form.planned_finish.errors }}
                                                    {{ executors_formset.empty_form.planned_finish|attr:"style: width:60%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ executors_formset.empty_form.finish_date.errors }}
                                                    {{ executors_formset.empty_form.finish_date|attr:"style: width:60%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ executors_formset.empty_form.warning.errors }}
                                                    {{ executors_formset.empty_form.warning|attr:"style: width:100%" }}
                                                </th>
                                                <th>{{ form.DELETE }}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {{ executors_formset.management_form }}
                                </div>
                                <button style="width: 100%" type="button"
                                    class="add-formset add-executors-formset btn dark btn-sm btn-outline padding-bottom-20 mb-2">Додати
                                    виконавця</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">Витрати</h6>
                            <div class="card-body pb-1">
                                {% if costs_formset|length %}
                                <div class="row">
                                    <table class="table table-hover mb-0 table-responsive-xl"
                                        id="costs_formset_not_empty">
                                        <thead>
                                            <tr align="center">
                                                <th width="30%" scope="col">ПІДРЯДНИК</th>
                                                <th width="5%" scope="col">НОМЕР ДОГОВОРУ</th>
                                                <th width="10%" scope="col">ВАРТІСТЬ РОБІТ, ГРН.</th>
                                                <th width="15%" scope="col">АВАНС, ГРН.</th>
                                                <th width="15%" scope="col">СТАТУС ОПЛАТИ</th>
                                                <th width="15%" scope="col">ДАТА ОПЛАТИ</th>
                                                <th width="1%">ДІЇ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <small class="text-danger">
                                                {{ costs_formset.non_form_errors }}
                                            </small>
                                            {% for form in costs_formset %}
                                            <tr>
                                                <th class="pl-1 pr-1">
                                                    {{ form.contractor.errors }}
                                                    {{ form.contractor|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.deal_number.errors }}
                                                    {{ form.deal_number|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.value.errors }}
                                                    {{ form.value|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.advance.errors }}
                                                    {{ form.advance|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.pay_status.errors }}
                                                    {{ form.pay_status|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.pay_date.errors }}
                                                    {{ form.pay_date|attr:"style: width:60%" }}
                                                </th>
                                                <th>{{ form.id }}{{ form.DELETE }}</th>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {{ costs_formset.management_form }}
                                </div>
                                {% else %}
                                <div class="row" style="display:none" id="costs_formset">
                                    <table class="table table-hover mb-0 table-responsive-xl" id="costs_formset_empty">
                                        <thead>
                                            <tr align="center">
                                                <th width="30%" scope="col">ПІДРЯДНИК</th>
                                                <th width="5%" scope="col">НОМЕР ДОГОВОРУ</th>
                                                <th width="10%" scope="col">ВАРТІСТЬ РОБІТ, ГРН.</th>
                                                <th width="15%" scope="col">АВАНС, ГРН.</th>
                                                <th width="15%" scope="col">СТАТУС ОПЛАТИ</th>
                                                <th width="15%" scope="col">ДАТА ОПЛАТИ</th>
                                                <th width="1%">ДІЇ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <small class="text-danger">
                                            {{ costs_formset.non_form_errors }}
                                            </small>
                                            <tr>
                                                <th class="pl-1 pr-1">
                                                    {{ costs_formset.empty_form.contractor.errors }}
                                                    {{ costs_formset.empty_form.contractor|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ costs_formset.empty_form.deal_number.errors }}
                                                    {{ costs_formset.empty_form.deal_number|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ costs_formset.empty_form.value.errors }}
                                                    {{ costs_formset.empty_form.value|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ costs_formset.empty_form.advance.errors }}
                                                    {{ costs_formset.empty_form.advance|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ costs_formset.empty_form.pay_status.errors }}
                                                    {{ costs_formset.empty_form.pay_status|attr:"style: width:100%" }}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ costs_formset.empty_form.pay_date.errors }}
                                                    {{ costs_formset.empty_form.pay_date|attr:"style: width:60%" }}
                                                </th>
                                                <th>{{ form.id }}{{ form.DELETE }}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {{ costs_formset.management_form }}
                                </div>
                                <button style="width: 100%" type="button"
                                    class="add-formset add-costs-formset btn dark btn-sm btn-outline padding-bottom-20 mb-2">Додати
                                    підрядника</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card main-widget-tab">
                            <h6 class="task-header center-block text-center">Відправки</h6>
                            <div class="card-body pb-1">
                                {% if sending_formset|length %}
                                <div class="row">
                                    <table class="table table-hover mb-0 table-responsive-xl"
                                        id="sending_formset_not_empty">
                                        <thead>
                                            <tr align="center">
                                                <th width="30%" scope="col">ОТРИМУВАЧ ПРОЕКТУ</th>
                                                <th width="20%" scope="col">ДАТА ВІДПРАВКИ</th>
                                                <th width="15%" scope="col">КІЛЬКІСТЬ ПРИМІРНИКІВ</th>
                                                <th width="30%" scope="col">РЕЄСТР</th>
                                                <th width="1%">ДІЇ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <small class="text-danger">
                                            {{ sending_formset.non_form_errors }}
                                            </small>
                                            {% for form in sending_formset %}
                                            <tr>
                                                <th class="pl-1 pr-1">
                                                    {{ form.receiver.errors }}
                                                    {{form.receiver|attr:"style: width:100%"}}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.receipt_date.errors }}
                                                    {{form.receipt_date|attr:"style: width:60%"}}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.copies_count.errors }}
                                                    {{form.copies_count|attr:"style: width:100%"}}
                                                </th>
                                                <th class="pl-1 pr-1">
                                                    {{ form.register_num.errors }}
                                                    {{form.register_num|attr:"style: width:100%"}}
                                                </th>
                                                <th>{{ form.id }}{{ form.DELETE }}</th>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {{ sending_formset.management_form }}
                                </div>
                            </div>
                            {% else %}
                            <div class="row" style="display:none" id="sending_formset">
                                <table class="table table-hover mb-0 table-responsive-xl" id="sending_formset_empty">
                                    <thead>
                                        <tr align="center">
                                            <th width="30%" scope="col">ОТРИМУВАЧ ПРОЕКТУ</th>
                                            <th width="20%" scope="col">ДАТА ВІДПРАВКИ</th>
                                            <th width="15%" scope="col">КІЛЬКІСТЬ ПРИМІРНИКІВ</th>
                                            <th width="30%" scope="col">РЕЄСТР</th>
                                            <th width="1%">ДІЇ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <small class="text-danger">
                                        {{ sending_formset.non_form_errors }}
                                        </small>
                                        <tr>
                                            <th class="pl-1 pr-1">
                                                {{ sending_formset.empty_form.receiver.errors }}
                                                {{sending_formset.empty_form.receiver|attr:"style: width:100%"}}
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ sending_formset.empty_form.receipt_date.errors }}
                                                {{sending_formset.empty_form.receipt_date|attr:"style: width:60%"}}
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ sending_formset.empty_form.copies_count.errors }}
                                                {{sending_formset.empty_form.copies_count|attr:"style: width:100%"}}
                                            </th>
                                            <th class="pl-1 pr-1">
                                                {{ sending_formset.empty_form.register_num.errors }}
                                                {{sending_formset.empty_form.register_num|attr:"style: width:100%"}}
                                            </th>
                                            <th>{{ sending_formset.empty_form.DELETE }} {{ sending_formset.empty_form.id }}</th>
                                        </tr>
                                    </tbody>
                                </table>
                                {{ sending_formset.management_form }}
                            </div>
                            <button style="width: 100%" type="button"
                                class="add-formset add-sending-formset btn dark btn-sm btn-outline padding-bottom-20 mb-2">Додати
                                відправку</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% else %}
    Ви не маєте доступу до редагування даного проекту<br><br>
    {% endif %}
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<div style="position: fixed; bottom: 0; right: 3%; z-index: 100">
{% if executors_formset.non_form_errors %}
        <div class="alert alert-danger">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header alert-header">
                    <strong class="mr-auto">Помилка в таблиці виконавці{{ field.label }}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ executors_formset.non_form_errors|striptags }}
                </div>
            </div>
        </div>

{% endif %}

{% if costs_formset.non_form_errors %}
        <div class="alert alert-danger">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header alert-header">
                    <strong class="mr-auto">Помилка в таблиці витрати</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ costs_formset.non_form_errors|striptags }}
                </div>
            </div>
        </div>

{% endif %}

{% if sending_formset.non_form_errors %}
        <div class="alert alert-danger">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header alert-header">
                    <strong class="mr-auto">Помилка в таблиці відправки</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ sending_formset.non_form_errors|striptags }}
                </div>
            </div>
        </div>

{% endif %}
{% include 'widgets/form_errors.html' %}
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
{% endblock css %}

{% block extrahead %}
<script type="text/javascript">
    window.onerror = function (msg) {
        $("body").attr("JSError", msg);
    }
</script>
<script src="{% static 'dynamic_formsets/jquery.formset.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript">

const addBtnExec = document.querySelector('.add-executors-formset');
const addBtnCost = document.querySelector('.add-costs-formset');
const addBtnSend = document.querySelector('.add-sending-formset');
if (document.querySelector('#executors_formset')) {
    addBtnExec.addEventListener('click', () => {
        addInitialFormset('executors_formset', addBtnExec);
        cliсk('executors_formset', 'dynamic-formset1');
    })
};

if (document.querySelector('#costs_formset')) {
    addBtnCost.addEventListener('click', () => {
        addInitialFormset('costs_formset', addBtnCost);
        cliсk('costs_formset', 'dynamic-formset2');
    })
};

if (document.querySelector('#sending_formset')) {
    addBtnSend.addEventListener('click', () => {
        addInitialFormset('sending_formset', addBtnSend);
        cliсk('sending_formset', 'dynamic-formset3');
    })
};

function addInitialFormset(formsetId, btn) {
    const formsetTemplate = document.querySelector('#' + formsetId);
    formsetTemplate.setAttribute('style', '');
    btn.setAttribute('style', 'display:none');
};

function cliсk(formsetId, dynamicFormset) {
    const initialBtn = document.querySelector('.add-row-' + formsetId);
    const formsetTemplate = document.querySelector('#' + formsetId);
    initialBtn.click();
    const dynamicFormsetFirst = document.querySelectorAll('.' + dynamicFormset)[0];
    dynamicFormsetFirst.setAttribute('style', 'display:none');
};

    $(function () {
        setTimeout(function () {
            $('span.select2-container.select2-container--bootstrap').width('auto');
        }, 100);
        $('#executor_formset_not_empty tbody tr').formset({
            prefix: '{{ executors_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'Додати Виконавця',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge badge-pill badge-danger',
            'added': function (row) {
                //find the fields with the calendar widget
                $(row).find('.vDateField').each(function (i) {
                    //remove the cloned spam element: it links to an incorrect calendar
                    $(this).parent().find('span').remove();
                    //DateTimeShortcuts is in the django admin widgets
                    DateTimeShortcuts.addCalendar(this);
                })
                $(row).find('.django-select2').djangoSelect2();
            }
        });

        $('#executor_formset_empty tbody tr').formset({
            prefix: '{{ executors_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'Додати Виконавця',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row-executors_formset btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge badge-pill badge-danger',
            'added': function (row) {
                //find the fields with the calendar widget
                $(row).find('.vDateField').each(function (i) {
                    //remove the cloned spam element: it links to an incorrect calendar
                    $(this).parent().find('span').remove();
                    //DateTimeShortcuts is in the django admin widgets
                    DateTimeShortcuts.addCalendar(this);
                })
                $(row).find('.django-select2').djangoSelect2();
            }
        });

        $('#costs_formset_not_empty tbody tr').formset({
            prefix: '{{ costs_formset.prefix }}',
            formCssClass: 'dynamic-formset2',
            addText: 'Додати Підрядника',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge badge-pill badge-danger',
            'added': function (row) {
                $(row).find('.vDateField').each(function (i) {
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                });
                $(row).find('.django-select2').djangoSelect2();
            }
        });

        $('#costs_formset_empty tbody tr').formset({
            prefix: '{{ costs_formset.prefix }}',
            formCssClass: 'dynamic-formset2',
            addText: 'Додати Підрядника',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row-costs_formset btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge badge-pill badge-danger',
            'added': function (row) {
                $(row).find('.vDateField').each(function (i) {
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                });
                $(row).find('.django-select2').djangoSelect2();
            }
        });

        $('#sending_formset_not_empty tbody tr').formset({
            prefix: '{{ sending_formset.prefix }}',
            formCssClass: 'dynamic-formset3',
            addText: 'Додати Відправку',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge badge-pill badge-danger',
            'added': function (row) {
                $(row).find('.vDateField').each(function (i) {
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                });
                $(row).find('.django-select2').djangoSelect2();
            }
        });

        $('#sending_formset_empty tbody tr').formset({
            prefix: '{{ sending_formset.prefix }}',
            formCssClass: 'dynamic-formset3',
            addText: 'Додати Відправку',
            deleteText: '<i class="far fa-trash-alt"></i>',
            addCssClass: 'add-row-sending_formset btn dark btn-sm btn-outline mt-2 float-right btn-block width-0',
            deleteCssClass: 'delete-row badge badge-pill badge-danger',
            'added': function (row) {
                $(row).find('.vDateField').each(function (i) {
                    $(this).parent().find('span').remove();
                    DateTimeShortcuts.addCalendar(this);
                });
                $(row).find('.django-select2').djangoSelect2();
            }
        });
    })
</script>

{% endblock %}