{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block global_meta %}
    <title>Ітел-Сервіс | Проекти</title>
{% endblock %}

{% block context %}
    <div class="page-container page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row mt-4">
                <div class="col-md-8">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="widget-bg-color-white main-widget-tab widget-tab">
                        <ul class="nav nav-pills nav-tabs" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-tab main-widget-tab_1_1-tab" data-toggle="pill" href="#tab_1_1"
                                    role="tab" aria-controls="pills-tab_1_1" aria-selected="true"> Опис </a>
                            </li>
                            <!-- Only for staff members -->
                            {% if request.user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-tab_1_2-tab" data-toggle="pill" href="#tab_1_2"
                                            role="tab" aria-controls="pills-tab_1_2" aria-selected="false"> Додатково </a>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="tab_1_1" role="tabpanel"
                                    aria-labelledby="pills-tab_1_1">
                                <div class="widget-news margin-bottom-20">
                                    <div class="widget-news-right-body">
                                        <h3 class="widget-news-right-body-title">{{ task.object_code }} {{ task.object_address|slice:":90" }}
                                            <span class="badge badge-pill badge-{% task_overdue_color task.warning %} float-right"> {{ task.warning }} </span>
                                        </h3>
                                        <p>Тип проекту: <strong>{{ task.project_type }}</strong></p>
                                        <p>Договір: <strong>{{ task.deal }}</strong></p>
                                        <p>Керівник проекту: <strong>{{ task.owner.name }}</strong></p>
                                        <p>Статус виконання: <strong>{{ task.get_exec_status_display }}</strong></p>
                                        {% if task.sending_date %}
                                        <p>Дата відправки: <strong>{{ task.sending_date }}</strong></p>
                                        {% endif %}
                                        {% if task.project_code %}
                                        <p>Шифр проекту: <strong>{{ task.project_code }}</strong></p>
                                        {% endif %}
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th> Початок робіт</th>
                                                <th> Закінчення робіт</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td> Планові дати виконання</td>
                                                <td> {% if task.planned_start %}{{ task.planned_start }}{% endif %} </td>
                                                <td> {% if task.planned_finish %}{{ task.planned_finish }}{% endif %} </td>
                                            </tr>
                                            <tr>
                                                <td> Фактичні дати виконання</td>
                                                <td> {% if task.actual_start %}{{ task.actual_start }}{% endif %} </td>
                                                <td> {% if task.actual_finish %}{{ task.actual_finish }}{% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        {% if task.tc_received %}<p>Дата отримання ТЗ або заявки: <strong>{{ task.tc_received }}</strong></p>{% endif %}
                                        {% if task.tc_upload %}<a href="/media/{{ task.tc_upload }}"> Переглянути ТЗ або заявку </a>{% endif %}<br>
                                        {% if task.pdf_copy %}<a href="/media/{{ task.pdf_copy }}"> Переглянути електронний примірник </a>{% endif %}<br>
                                        {% if task.project_share %} {{ task.project_share }} {% endif %}<br>
                                        {% if task.photo_share %} {{ task.photo_share }} {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Only for staff members -->
                            {% if request.user.is_staff %}
                                <div class="tab-pane fade show" id="tab_1_2" role="tabpane2"
                                        aria-labelledby="pills-tab_1_2">
                                    <div class="widget-news margin-bottom-20">
                                        <div class="widget-news-right-body">
                                            <h3 class="widget-news-right-body-title">{{ task.object_code }} {{ task.object_address }}
                                                <span class="label label-{% task_overdue_color task.warning %}"> {{ task.warning }} </span>
                                            </h3>
                                            <p>Бонуси керівника проекту: <strong>{{ task.owner_bonus|floatformat:"2" }} грн.</strong></p>
                                            <p>Бонуси за виконання: <strong>{{ task.executors_bonus|floatformat:"2" }} грн.</strong></p>
                                            <p>Сумарні витрати: <strong>{{ task.costs_total }} грн.</strong></p>
                                            {% if cost.project_code %}<p>Шифр проекту: <strong>{{ cost.project_code }}</strong></p>>{% endif %}
                                            {% if cost.comment %}<p>Коментар: <strong>{{ cost.comment }}</strong></p>>{% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <a href="{{request.META.HTTP_REFERER}}"
                                class="btn dark task-return btn-sm btn-outline sbold uppercase mr-2" style="float: right;"> Повернутись </a>
                            {% if perms.planner.change_task %}
                            <a href="{% url 'task_update' task.pk %}"
                                class="btn dark task-return btn-sm btn-outline sbold uppercase mr-2" style="float: right;"> Редагувати </a>
                        {% endif %}
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="widget-bg-color-white main-widget-tab widget-tab">
                        <ul class="nav nav-pills nav-tabs" id="pills-tab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-tab_2_1-tab" data-toggle="pill" href="#tab_2_1"
                                    role="tab" aria-controls="pills-tab_2_1" aria-selected="true"> Коментарі </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-tab_2_2-tab" data-toggle="pill" href="#tab_2_2"
                                    role="tab" aria-controls="pills-tab_2_2" aria-selected="true"> Виконавці </a>
                            </li>
                            <!-- Only for staff members -->
                            {% if request.user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-tab_2_3-tab" data-toggle="pill" href="#tab_2_3"
                                    role="tab" aria-controls="pills-tab_2_3" aria-selected="false"> Витрати </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" id="pills-tab_2_4-tab" data-toggle="pill" href="#tab_2_4"
                                    role="tab" aria-controls="pills-tab_2_4" aria-selected="false"> Відправки </a>
                            </li>
                        </ul>
                        <div style="height: 500px" class="tab-content scroller pt-1" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="tab_2_1" role="tabpane2" aria-labelledby="pills-tab_2_1">
                                {% if comments|length > 0 %}
                                    {% for comment in comments %}
                                        <div class="widget-media">
                                            <div class="widget-media-elements text-center">
                                                <img class="widget-media-avatar circle margin-bottom-15"
                                                    src="{{ comment.user.employee.avatar.thumbnail.url }}" alt="">
                                            </div>
                                            <div class="widget-media-body">
                                                <div class="widget-media-body-title">
                                                    {{ comment.user.employee.name }} - {{ comment.timestamp }}
                                                </div>
                                                <div class="pull-left">{{ comment.text }}</div>
                                                {% if request.user.is_superuser or request.user == comment.user %}
                                                    <div class="pull-right">
                                                        <!-- Update book buttons -->
                                                        <button type="button"
                                                            class="update-comment bs-modal btn btn-link"
                                                            data-form-url="{% url 'comment_update' comment.pk %}">
                                                            <i class="fa fa-pen"></i>
                                                        </button>
                                                        <!-- Delete book buttons -->
                                                        <button type="button"
                                                            class="delete-comment bs-modal btn btn-link"
                                                            data-form-url="{% url 'comment_delete' comment.pk %}">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="widget-media">
                                        <div class="widget-media-body">
                                            <p class="widget-media-body-subtitle">Коментарі відсутні</p>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content"></div>
                                    </div>
                                </div>

                                <!-- Create comment button -->
                                <div class="form-actions">
                                    <button id="add-comment"
                                        type="button"
                                        class="btn dark btn-sm btn-outline sbold uppercase"
                                        style="float: right;">Додати коментар
                                    </button>
                                    <br>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="tab_2_2" role="tabpane2" aria-labelledby="pills-tab_2_2">
                                {% if executors|length > 0 %}
                                    {% for executor in executors %}
                                        <div class="widget-media">
                                            {% if executor.executor %}
                                            <div class="widget-media-elements text-center">
                                                <img class="widget-media-avatar circle margin-bottom-15"
                                                    src="{{ executor.executor.avatar.thumbnail.url }}" alt="">
                                            </div>
                                            {% endif %}
                                            <div class="widget-media-body">
                                                {% if executor.executor %}
                                                    <h4 class="widget-media-body-title">
                                                        {{ executor.executor.name }}
                                                    </h4>
                                                {% else %}
                                                    <h4 class="widget-media-body-title">
                                                        Виконавець не призначений
                                                    </h4>
                                                {% endif %}
                                                Назва робіт: <strong>{{ executor.subtask.name }}</strong><br>
                                                Частка: <div class="widget-btn-blue circle">{{ executor.part }} %</div>
                                                Статус виконання: <strong>{{ executor.get_exec_status_display }}</strong><br>
                                                {% if executor.actual_finish %}Дата виконання: <strong>{{ executor.actual_finish }}</strong><br>{% endif %}
                                                {% if executor.warning %}Попередження: <strong>{{ executor.warning }}</strong><br>{% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="widget-media">
                                        <div class="widget-media-body">
                                            <p class="widget-media-body-subtitle">Виконавці відсутні</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Only for staff members -->
                            {% if request.user.is_staff %}
                                <div class="tab-pane fade show" id="tab_2_3" role="tabpane2"
                                    aria-labelledby="pills-tab_2_3">
                                    {% if costs|length > 0 %}
                                    {% for cost in costs %}
                                    <div class="widget-media">
                                        <div class="widget-media-body">
                                            <h4 class="widget-media-body-title">
                                                <a href="#">{{ cost.contractor.name }}</a>
                                            </h4>
                                            Назва робіт: <strong>{{ cost.subtask.name }}</strong><br>
                                            Договір: <strong>{{ cost.deal_number }}</strong><br>
                                            Вартість робіт: <div class="widget-btn-blue circle"> {{ cost.value }} грн.</div>
                                            <br>
                                            Аванс: <strong>{{ cost.advance }}</strong><br>
                                            Статус оплати: <strong>{{ cost.get_pay_status_display }}</strong><br>
                                            {% if cost.pay_date %}Дата оплати:
                                            <strong>{{ cost.pay_date }}</strong>{% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <div class="widget-media">
                                        <div class="widget-media-body">
                                            <p class="widget-media-body-subtitle">Витрати відсутні</p>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="tab-pane fade show" id="tab_2_4" role="tabpane2"
                                aria-labelledby="pills-tab_2_4">
                                {% if sendings|length > 0 %}
                                    {% for sending in sendings %}
                                        <div class="widget-media">
                                            <div class="widget-media-body">
                                                <h4 class="widget-media-body-title">
                                                    <a href="#">{{ sending.receiver.name }}</a>
                                                </h4>
                                                Дата відправки: <strong>{{ sending.receipt_date }}</strong><br>
                                                Кількість: <div class="widget-btn-blue circle" href="#">{{ sending.copies_count }} примірник</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="widget-media">
                                        <div class="widget-media-body">
                                            <p class="widget-media-body-subtitle">Відправки відсутні</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->

{% endblock %}

{% block extrahead %}

    <script type="text/javascript">
        if(typeof jQuery!=='undefined'){
            console.log('jQuery Loaded');
        }
        else{
            console.log('jQuery not loaded yet');
        }
    </script>

    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

    <script type="text/javascript">

        $(function () {

        // Add comment buttons
        $("#add-comment").modalForm({
            formURL: "{% url 'comment_create' task.pk %}"
        });

        // Update comment buttons
        $(".update-comment").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });

        // Delete comment buttons - formURL is retrieved from the data of the element
        $(".delete-comment").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });
        });

    </script>

{% endblock %}
