.task_hd {
  background: rgb(80, 193, 58);
  /* Old browsers */
  background: linear-gradient(
    to bottom,
    rgba(80, 193, 58, 1) 0%,
    rgba(88, 209, 64, 1) 20%,
    rgba(102, 237, 75, 1) 40%,
    rgba(80, 193, 58, 1) 70%,
    rgba(53, 132, 37, 1) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ED4B', endColorstr='#50c13a', GradientType=0);
  /* IE6-9 */
  height: 13px;
  filter: alpha(opacity=90);
  opacity: 0.9;
  margin-top: 1px;
}

.task_oc {
  background: rgb(247, 228, 56);
  /* Old browsers */
  background: linear-gradient(
    to bottom,
    rgba(247, 228, 56, 1) 0%,
    rgba(239, 239, 55, 1) 20%,
    rgba(255, 255, 58, 1) 40%,
    rgba(242, 236, 55, 1) 70%,
    rgba(241, 218, 54, 1) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff3a', endColorstr='#f7e438', GradientType=0);
  /* IE6-9 */
  height: 13px;
  filter: alpha(opacity=90);
  opacity: 0.9;
  margin-top: 1px;
}

.task_iw {
  background: rgb(134, 27, 27);
  /* Old browsers */
  background: linear-gradient(
    to bottom,
    rgba(134, 27, 27, 1) 0%,
    rgba(134, 27, 35, 1) 20%,
    rgb(134, 27, 40, 1) 40%,
    rgba(134, 27, 45, 1) 70%,
    rgba(134, 27, 50, 1) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4bb8f0', endColorstr='#3a84c3', GradientType=0);
  /* IE6-9 */
  height: 13px;
  filter: alpha(opacity=90);
  opacity: 0.9;
  margin-top: 1px;
}

.task_ip {
  background: rgb(231, 164, 20);
  /* Old browsers */
  background: linear-gradient(
    to bottom,
    rgba(231, 164, 20, 1) 0%,
    rgba(231, 164, 26, 1) 20%,
    rgba(231, 164, 32, 1) 40%,
    rgba(231, 164, 38, 1) 70%,
    rgba(231, 164, 44, 1) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7caf4', endColorstr='#fcaef7', GradientType=0);
  /* IE6-9 */
  height: 13px;
  filter: alpha(opacity=90);
  opacity: 0.9;
  margin-top: 1px;
}

.task_st {
  background:  rgb(121, 58, 193);
  /* Old browsers */
  background: linear-gradient(
    to bottom,
    rgba(121, 58, 193, 1) 0%,
    rgba(121, 58, 198, 1) 20%,
    rgba(121, 58, 201, 1) 40%,
    rgba(121, 58, 208, 1) 70%,
    rgba(121, 58, 215, 1) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7caf4', endColorstr='#fcaef7', GradientType=0);
  /* IE6-9 */
  height: 13px;
  filter: alpha(opacity=90);
  opacity: 0.9;
  margin-top: 1px;
}

.task_oh {
  background: rgb(58, 184, 193);
  /* Old browsers */
  background: linear-gradient(
    to bottom,
    rgba(58, 184, 193, 1) 0%,
    rgba(58, 184, 196, 1) 20%,
    rgba(58, 184, 200, 1) 40%,
    rgba(58, 184, 210, 1) 70%,
    rgba(58, 184, 220, 1) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7caf4', endColorstr='#fcaef7', GradientType=0);
  /* IE6-9 */
  height: 13px;
  filter: alpha(opacity=90);
  opacity: 0.9;
  margin-top: 1px;
}

.task_cl {
  background: rgb(193, 58, 103);
  /* Old browsers */
  background: linear-gradient(
    to bottom,
    rgba(193, 58, 103, 1) 0%,
    rgba(193, 58, 109, 1) 20%,
    rgba(193, 58, 115, 1) 40%,
    rgba(193, 58, 120, 1) 70%,
    rgba(193, 58, 127, 1) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7caf4', endColorstr='#fcaef7', GradientType=0);
  /* IE6-9 */
  height: 13px;
  filter: alpha(opacity=90);
  opacity: 0.9;
  margin-top: 1px;
}

.gstartdate div{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.edit_project_link{
  text-decoration: none;
  float: right;
  width: 20px;
  height: 20px;
}

.gmainright{
  height: 94vh;
}

.gmainright{
  height: 94vh;
}

/* status agenda */

.agenda_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0;
  text-align: center;
}

.agenda_block{
  display: flex;
  margin-right: 30px;
}

.agenda_block_color{
  display: flex;
  background-color: #000;
  width: 50px;
  height: 15px;
  border-radius: 10px;
  margin-right: 15px;
}

.iw{
  background-color:rgb(134, 27, 27);
}
.ip{
  background-color: rgb(231, 164, 20);
}
.hd{
  background-color: rgb(80, 193, 58);
}
.oc{
  background-color: rgb(247, 228, 56);
}
.st{
  background-color: rgb(121, 58, 193);
}
.oh{
  background-color: rgb(58, 184, 193);
}
.cl{
  background-color: rgb(193, 58, 103);
}