{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{% static 'gantt/jsgantt.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'gantt/style.css' %}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="agenda_wrapper">
      <div class="agenda_block">
        <div class="agenda_block_color iw"></div>
        <div class="agenda_block_name">В черзі</div>
      </div>
      <div class="agenda_block">
        <div class="agenda_block_color ip"></div>
        <div class="agenda_block_name">Виконується</div>
      </div>
      <div class="agenda_block">
        <div class="agenda_block_color hd"></div>
        <div class="agenda_block_name">Виконано</div>
      </div>
      <div class="agenda_block">
        <div class="agenda_block_color oc"></div>
        <div class="agenda_block_name">На перевірці</div>
      </div>
      <div class="agenda_block">
        <div class="agenda_block_color st"></div>
        <div class="agenda_block_name">Надіслано</div>
      </div>
      <div class="agenda_block">
        <div class="agenda_block_color oh"></div>
        <div class="agenda_block_name">Призупинено</div>
      </div>
      <div class="agenda_block">
        <div class="agenda_block_color cl"></div>
        <div class="agenda_block_name">Відмінено</div>
      </div>
    </div>
    <div style="position: relative" class="gantt" id="GanttChartDIV"></div>
    <script>
      const data = {{ gantt_data|safe }};
    </script>
    <script src="{% static 'gantt/jsgantt.js' %}" type="text/javascript"></script>
    <script src="{% static 'fontawesome_5/js/all.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'gantt/main.js' %}" type="text/javascript"></script>
  </body>
</html>
