{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% load ita_template_tags %}

{% block context %}
    <div class="page-container page-content-inner page-container-bg-solid" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <div class="container-fluid">
                <a href="{% url 'projects_list' %}">
                    <h2 class="breadcrumbs-title">Проекти</h2>
                </a>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row">
                <div class="col-md-9 margin-bottom-20">
                    <!-- BEGIN WIDGET TAB -->
                    <div class="widget-bg-color-white widget-tab">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_1_1" data-toggle="tab"> Проект </a>
                            </li>
                            {#                                <li>#}
                            {#                                    <a href="#tab_1_3" data-toggle="tab"> Відправки </a>#}
                            {#                                </li>#}
                        </ul>
                        <div class="tab-content scroller" style="height: 350px;" data-always-visible="1"
                             data-handle-color="#D7DCE2">
                            <div class="tab-pane fade active in" id="tab_1_1">
                                <div class="widget-news margin-bottom-20">
                                    {#                                        <img class="widget-news-left-elem" src="../assets/layouts/layout7/img/03.jpg" alt="">#}
                                    <div class="widget-news-right-body">
                                        <h3 class="widget-news-right-body-title">{{ task.object_code }}
                                            {% if task.overdue_status %}
                                                <span class="label label-warning"> {{ task.overdue_status }} </span>
                                            {% else %}
                                                <span class="label label-{% color_status item.exec_status %}"> {{ task.get_status }} </span>
                                            {% endif %}
                                        </h3>
                                        <p>{{ task.project_type }}<br>{{ task.object_address }}</p>
                                        <p><strong>Відповідальна особа: {{ task.owner.name }}</strong></p>

                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th> Початок робіт</th>
                                                <th> Закінчення робіт</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td> Планові</td>
                                                <td> {% if task.planned_start %}{{ task.planned_start }}{% endif %} </td>
                                                <td> {% if task.planned_finish %}{{ task.planned_finish }}{% endif %} </td>
                                            </tr>
                                            <tr>
                                                <td> Фактичні</td>
                                                <td> {% if task.actual_start %}{{ task.actual_start }}{% endif %} </td>
                                                <td> {% if task.actual_finish %}{{ task.actual_finish }}{% endif %}
{#                                                                <span class="label label-sm label-info"> Pending </span>#}
                                                </td>
                                            </tr>
                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET TAB -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md font-red-sunglo">
                                <span class="caption-subject theme-font bold uppercase">Виконавці</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height: 350px;" data-always-visible="1" data-rail-visible1="0"
                                 data-handle-color="#D7DCE2">
                                {% if executors|length > 0 %}
                                    {% for executor in executors %}
                                        <div class="widget-media">
                                            <div class="widget-media-elements text-center">
                                                <img class="widget-media-avatar circle margin-bottom-15"
                                                     src="{% static 'assets/pages/media/users/avatar1.jpg' %}" alt="">
                                            </div>
                                            <div class="widget-media-body">
                                                <h4 class="widget-media-body-title">
                                                    <a href="#">{{ executor.executor.name }}</a>
                                                </h4>
                                                <p class="widget-media-body-subtitle">{{ executor.part_name }}</p>
                                                <a class="widget-btn-blue circle" href="#">{{ executor.part }} %</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="widget-media">
                                        <div class="widget-media-elements text-center">
                                        </div>
                                        <div class="widget-media-body">
                                            <p class="widget-media-body-subtitle">Виконавці відсутні</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
